<div class="container cont2">
<h1 class="center">Snow Schoolers Messages</h1>

<% @conversations.each do |convo| %>
<% if current_user.instructor.nil? %>
  <% matched_user = convo.instructor.user %>
  <% matched_user_name = convo.instructor.first_name %>
  <% else %>
  <% matched_user = convo.requester %>
  <% matched_user_name = convo.requester.name.nil? ? "New user" : convo.requester.name  %>
<% end %>
<% message = convo.messages.last %>

<div class="match-row cl-b">
  <div class="col-md-1 col-xs-3 profile-container">
    <a href=<%="/conversations/#{convo.id}"%> >
      <img class="img-circle chat-icon" src="<%= matched_user.instructor ? matched_user.instructor.avatar : 'http://placehold.it/50/55C1E7/fff&text=User' %>" alt="profile"/>
    </a>
  </div>
  <div class="col-md-11 col-xs-9">
    <a class="btn btn-blank link-area" role="button" href=<%="/conversations/#{convo.id}"%> >
        <!--
        <% unread_messages = 0 #current_user.unread_messages_in_match(match) %>
          <% if unread_messages > 0 %>
            <span class="unread-badge badge"><%= unread_messages %></span>
        <% end %>
         -->
    <div class="name-and-text">
        <p class="last-message name"><%= matched_user_name %></p>
        <% if !message.nil? %>
          <p class="last-message">
            <% if message.content.length <=75 %>
              <%= message.content %>
              <% else %>
              <%= message.content[0..75] %>...
            <% end %>
          </p>
        <% end %>
    </div>
  </a>
</div>
</div>
<% end %>
