<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_calendar.product_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product_calendar.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @product_calendar.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @product_calendar.status %>
</p>

<%= link_to 'Edit', edit_product_calendar_path(@product_calendar) %> |
<%= link_to 'Back', product_calendars_path %>
