<div class="col-md-6 col-xs-12 selfie-post">
	<% if selfie.social_network == "Twitter" %>
		<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">
			<a href=<%= selfie.link %> ></a>
		</blockquote>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>	
	<% elsif selfie.social_network == "Facebook" %>
		<iframe src="https://www.facebook.com/plugins/post.php?href=<%=selfie.link %>" width="500" height="367" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
	<% end %>
	<p class="bottom-right navy-text">
		<% if selfie.date %>
			<%= selfie.date.strftime("%b %-d") %> @<%= selfie.location.name %>
		<% end %>
		<% if current_user && current_user.email == "brian@snowschoolers.com" %>
		  <%= link_to 'Edit', edit_selfy_path(selfie), class: 'btn btn-default' %>
		<% end %>
	</p>
	<hr class="deposit-hr-navy hidden-unless-mobile">
</div>