<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats!</h1>
    <p>
      A user has clicked through on a link from the comparison shopping tool. Product information below:
    </p>
    <p> 
      <ul>
        <li>Redirected product URL: <%= @product.url %></li>
        <li>Referring URL: <%= product_url(@product) %></li>
        <li>Category: <%= @product.product_type %></li>
        <li>Product Name: <%= @product.name %></li>
        <li>Current User (email): <%= @current_user %></li>        
        <li>IP Address: <%= @unique_id %></li>        
      </ul>
    </p>
  </body>
</html>
