<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Lesson Request begun</h4>
    <p>
      A new user has just begun to request a lesson. Details thus far:
    </p>
    <ul>
      <li>User: <%= @user_email %> </li>
      <li>URL:   <%= lesson_url(@lesson) %> </li>
      <li>Guest email: <%= @lesson.guest_email? ? @lesson.guest_email : "N/A" %> </li>
      <li>Sport: <%= @lesson.activity %> </li>
      <li>Location: <%= @lesson.location.name %> </li>
      <li>Date: <%= @lesson.date %> </li>
      <li>Slot: <%= @lesson.slot %> </li>
      <li>Private Request: <%= @lesson.instructor.nil? ? "Anonymous" : @lesson.instructor.name %> </li>
    </ul>
  </body>
</html>
