<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Alert -- Attempted to send SMS through Twilio but guest phone number was invalid!</h2>
    <h4>Snow Schoolers SMS Logs for <%= DateTime.now %> </h4>
    <ul>
      <li>Lesson URL: <%= lesson_url(@lesson) %></li>
      <li>Recipient phone number: <%= @lesson.phone_number %></li>
      <% if @lesson.instructor %>
      <li>Instructor name: <%= @lesson.instructor.name %></li>
      <% end %>
      <li>Requester name: <%= @lesson.requester.email %></li>
      <li>Content of SMS: <%= @body %></li>
    </ul>
  </body>
</html>
