<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @lesson.guest_email.nil? %>
      <p>Hello <%= @lesson.requester.name.split(" ").first %>,</p>
      <% else %>
      <p>Hello,</p>
    <% end %>

    <p>
      Thank you for submitting your private lesson request through Snow Schoolers!
    </p>

    <h4>What happens now?</h4>
    <p>
      You have <b>successfully secured your lesson reservation</b>, and we have confirmed that we do have instructors available. Our team is now determining the best instructor to assign to your lesson, based on your stated goals and previous skiing or snowboarding experiences. If you requested a specific instructor and they are not available for any reason (we do accept concurrent requests and sometimes bookings overlap), we will contact you and give you the option to request another of our available instructors, or you can have our team choose the best available instructor for you.
    </p>
    <p>On average, it takes less than an hour for our system to assign and confirm your specific instructor, at which point you will get a second confirmation email, but please be patient. If it has been more than an hour since your request, please feel free to reach out to us at <a href="mailto:support@snowschoolers.com">support@snowschoolers.com.</p>

    <h4>Lesson Details</h4>
    <ul>
      <li>Students: <%= @lesson.students.map(&:name).join(', ') %></li>
      <li>Date: <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %></li>
      <li>Slot: <%= @lesson.slot %></li>
      <li>Location: <%= @lesson.location.name %></li>
      <li>Objectives: <%= @lesson.objectives %></li>
    </ul>
    <p>
      If you need to make changes to your lessons, please visit: <%= lesson_url(@lesson) %>
    </p>

    <p>If you have any questions or if there is anything we can do to help you prepare for your upcoming lesson, please don't be afraid to reach out.</p>
    <p>
      - Brian Bensch <br>
      Founder, SnowSchoolers.com <br>
      brian@snowschoolers.com
    </p>
  </body>
</html>
