<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You Have a New Lesson Request</h1>
    <p>
      To take the lesson, go to the lesson page below and click the 'Take It' button before another instructor beats you to it!
    </p>
    <p>
      To review this lesson and accept or decline, visit: <%= lesson_url(@lesson) %>
    </p>
    <div class='row'>
      <h4>Basic <strong>Info</strong></h4>

      <ul>
          <li>Location:<%= @lesson.location.name %> </li>
          <li>Date: <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %></li>
          <li>Slot:<%= @lesson.slot %> </li>
          <li>Pre-Tip Earnings:<%= number_to_currency(@lesson.price * 0.15) %> </li>
      </ul>

      <h4>Objectives <strong> and Experience</strong></h4>

        <ul>
          <li>Focus Area:<%= @lesson.focus_area %> </li>
          <li>Objectives:<%= @lesson.objectives %> </li>
        </ul>

      <h4>Student <strong>Info</strong></h4>
      <% @lesson.students.each do |student| %>
        <ul>
            <li>Name: <%= student.name %> </li>
            <li>Age Range: <%= student.age_range %></li>
            <li>Gender: <%= student.gender %></li>
            <li>About the student: <%= student.relationship_to_requester %></li>
            <li>Previous Experience: <%= student.most_recent_experience %> </li>
            <li>Ability Level: <%= student.most_recent_level %> </li>
            <li>Athletic Background: <%= student.other_sports_experience %> </li>
        </ul>
      <% end %>
    </div>
    <button> <h2> <a href=<%= lesson_url(@lesson) %>> Accept this Lesson </a> </h2></button>
  </body>
</html>
