<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @lesson.requester %>
      <p>Hello <%= @lesson.requester.name.split(" ").first %>,</p>
      <% else %>
      <p>Hello,</p>
    <% end %>

    <p>
      We hope you thoroughly enjoyed your Snow Schoolers experience and that your lesson today with <%=@lesson.instructor.first_name %> exceeded your expectations.
    </p>
    <p>
      You have likely already received an SMS message asking you to complete your lesson online by giving <%=@lesson.instructor.first_name %> a brief review out of 5-stars, and we thank you for <b> considering giving <%=@lesson.instructor.first_name %> a tip </b> if you feel it was deserved. Any tip amount is incredibly appreciated.
    </p>
    <p>
      If you haven't yet had a chance to complete your lesson online, you can do so by visiting: <%= lesson_url(@lesson) %>
    </p>
    <h4>Completed Lesson Details</h4>
    <p>You will always be able to your lesson details in your online account, but we wanted to also give you an email record of them as well, below:</p>
    <ul>
      <li>Instructor: <%= @lesson.instructor.name %></li>
      <li>Students: <%= @lesson.students.map(&:name).join(', ') %></li>
      <li>Location: <%= @lesson.location.name %></li>
      <li>Date: <%= @lesson.date.strftime("%A %b #{@lesson.date.day.ordinalize}, %Y") %></li>
      <li>Slot: <%= @lesson.slot %></li>
      <li>Booked lesson length: <%= @lesson.product.length.to_f %> hours.
      </li>
      <li>Actual lesson length: <%= @lesson.actual_duration %> hours.
      </li>
      <% if @lesson.price == @lesson.adjusted_price %>
          <li>Lesson fee: <%= number_to_currency(@lesson.price, precision: 2) %> </li>
          <% else %>
          <li>Original Lesson fee: <%= number_to_currency(@lesson.price, precision: 2) %> </li>
          <li>Final Lesson fee: <%= number_to_currency(@lesson.adjusted_price, precision: 2) %> </li>
      <% end %>
      <li>Objectives: <%= @lesson.objectives %></li>
      <li><b>Instructor feedback:</b> <em><%=@lesson.public_feedback_for_student%></em></li>
    </ul>
    <p>Again, we hope you loved the Snow Schoolers experience, and hope to see you back on the mountain again soon. If you'd like to book a repeat lesson with <%=@lesson.instructor.first_name%>, you can do so online or likewise simply reply with the dates you are interested and one of our concierges will start coordinating schedules.
    </p>
    <p>Lastly, if there is anything we can do to improve the experience for next time, we always appreciate feedback. If you're willing to take just <b> two more minutes </b> to help out, we would love if you answered our 2-question feedback survey that can be found at <a href="http://bit.ly/snowschoolers_survey">bit.ly/snowschoolers_survey</a>.</p>

    <p>Thank you again!</p>
    <p>
      Best, <br>
      - Brian Bensch <br>
      Founder, SnowSchoolers.com <br>
      brian@snowschoolers.com
    </p>
    <!-- <img src="https://s3.amazonaws.com/snowschoolers/thanks.gif" alt="thanks" height="400" width="700" /> -->
  </body>
</html>
