<div class="container">
<h1>Admin View: All Instructors | <%= link_to "Manage Users", admin_users_path %> </h1>
<h4>Total instructor count: <%= Instructor.count - 1 %> </h4>
<h4>Skiers: <%= Instructor.where(sport:"Ski Instructor").count - 1 %> </h4>
<h4>Snowboarders: <%= Instructor.where(sport:"Snowboard Instructor").count %> </h4>

<table class="instructors-table">
  <thead>
    <tr>
<!--       <th>First</th>
      <th>Last</th> -->
      <th>ID</th>
      <th>Name</th>
      <th class="column-wrap">Email</th>
      <th>Resorts</th>
      <th>Rank</th>
      <th>Certification</th>
      <th>Phone number</th>
      <th>Sport</th>
      <th>Active Status?</th>
      <th>Admin Actions</th>
      <!-- <th>Verified Instructor?</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.id %></td>
<!--         <td><%= instructor.first_name %></td>
        <td><%= instructor.last_name %></td> -->
        <td><%= link_to "#{instructor.first_name} #{instructor.last_name}", edit_user_registration_path(instructor.user) %></td>
        <td class="column-wrap">
        <% if instructor.user %>
          <%= link_to instructor.user.email, edit_user_registration_path(instructor.user) %>
            <% else %>
            N/A - must link to new user.
        <% end %>
        </td>
        <!-- <td>
          <% instructor.locations.each do |location| %>
              <%= location.name %> <br>
          <% end %>
        </td> -->
        <td><%= instructor.preferred_locations %></td>
        <td><%= instructor.overall_initial_rank %></td>
        <td><%= instructor.certification %></td>
        <td><%= instructor.phone_number %></td>
        <td><%= instructor.sport %></td>
        <td><%= instructor.status %></td>
        <% if instructor.status != "Active" %>
        <td><%= link_to 'Verify Now', verify_instructor_path(instructor), method: :post, class: 'btn btn-success' %></td>
          <% else %>
        <td><%= link_to 'Revoke', revoke_instructor_path(instructor), method: :post, class: 'btn btn-danger' %></td>
        <% end %>
        <td><%= link_to 'Show', instructor %></td>
        <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
        <td><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor', new_instructor_path %>
</div>
