<div class="container">

<%if current_user && current_user.user_type == "Ski Area Partner" || (current_user.email == "brian@snowschoolers.com") %>
  <div class="row">
    <%= link_to "View Detailed Info (CRM)", "/admin_index", class: 'btn btn-primary' %>
  </div>
<div class="col-md-6">
    <h4>Total Instructor count: <%= Instructor.count %> </h4>
    <h4>Active Ski Instructors: <%= (Instructor.where(sport:"Ski Instructor",status:"Active").count + Instructor.where(sport:"Both Ski & Snowboard",status:"Active").count) %> </h4>
    <h4>Active Snowboard Instructors: <%= (Instructor.where(sport:"Snowboard Instructor", status:"Active").count + Instructor.where(sport:"Both Ski & Snowboard",status:"Active").count) %> </h4>
    <h4>Inactive Instructors: <%= (Instructor.count - Instructor.where(status:"Active").count) %> </h4>
</div>
<% if current_user.location %>
<div class="col-md-6">
<!--     <h4>Lifetime Lessons: %= Location.find(current_user.location).lifetime_lessons.count %> </h4>
    <h4>Gross Lifetime Revenue: %= number_to_currency(Location.find(current_user.location).lifetime_revenue) %> </h4>
    <h4>Post-commission Lifetime Revenue: %= number_to_currency(Location.find(current_user.location).lifetime_revenue*0.88) %> </h4>
    <h4>Lessons Today: %= Location.find(current_user.location).today_lessons.count %> </h4>
    <h4>Revenue Today: %= number_to_currency(Location.find(current_user.location).today_revenue) %> </h4>
 --></div>
<%end%>
<%end%>

<table class="instructors-table">
  <thead>
    <tr>
<!--       <th>First</th>
      <th>Last</th> -->
      <!-- <th>ID</th> -->
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Admin Actions</th>
      <th>Status?</th>
      <th>Home resort</th>
      <th>Max Ski Level</th>
      <th>Max Snowboard Level</th>
      <th>Rank</th>
      <th>Certification</th>
      <th>Sport</th>
      <!-- <th>Verified Instructor?</th> -->
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <!-- <td><%= instructor.id %></td> -->
        <td> <%= link_to image_tag(instructor.avatar.url(:thumb), alt:"avatar-img", class:"img-responsive img-thumbnail avatar-thumbnail"), edit_instructor_path(instructor) %> </td>
        <td><%= link_to "#{instructor.name}", show_candidate_instructor_path(instructor) %></td>
        <!-- <td>
          <% instructor.locations.each do |location| %>
              <%= location.name %> <br>
          <% end %>
        </td> -->
        <td> <%= instructor.user ? instructor.user.email : "N/A - must link to user" %> </td>
        <% if instructor.status != "Active" %>
        <td><%= link_to 'Activate', verify_instructor_path(instructor), method: :post, class: 'btn btn-success' %></td>
          <% else %>
        <td><%= link_to 'Revoke', revoke_instructor_path(instructor), method: :post, class: 'btn btn-danger' %></td>
        <% end %>
        <td>Currently <%= instructor.status %></td>
        <td>
        <%if instructor.locations && instructor.locations.include?(current_user.location) %>
          <%= current_user.location.name %>
          <% else %>
          Other
          <%end%>
        </td>
        <%if instructor.ski_levels.any? %>
        <td><%= instructor.ski_levels.max.value %></td>
          <%else%>
          <td>N/A</td>
        <%end%>
        <%if instructor.snowboard_levels.any? %>
        <td><%= instructor.snowboard_levels.max.value %></td>
          <%else%>
          <td>N/A</td>
        <%end%>
        <td><%= instructor.overall_initial_rank %></td>
        <td><%= instructor.certification %></td>
        <td><%= instructor.sport %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
