<div class="container">

<%= semantic_form_for @calendar_block do |f| %>
    <% if @calendar_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar_block.errors.count, "error") %> prohibited this calendar_block from being saved:</h2>

      <ul>
      <% @calendar_block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.inputs do %>
      <% if current_user && current_user.email == "brian@snowschoolers.com" %>
      <%= f.input :instructor_id, as: :select, collection: Instructor.all.sort_by{ |instructor| instructor.name}, selected:@instructor, include_blank: 'Instructor', label: false %>
      <%else%>
      <div class="hidden">
        <%= f.input :instructor_id, as: :select, collection: Instructor.all.sort_by{ |instructor| instructor.name}, selected:@instructor, include_blank: 'Instructor', label: false %>
      </div>
      <%end%>
      <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
        <div class='row'>
          <div class="col-md-6">
            <label>Date</label>
            <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker' }, placeholder: 'Pick a date', label: false, required:true %>
            <span class="search-area-icon"></span>
          </div>

          <div class="col-md-6">
            <label>Time Slot (All day vs. morning/afternoon)</label>
            <%= lt_f.input :slot, as: :select, collection: ['Early Bird (9-10am)', 'Half-day Morning (10am-1pm)', 'Half-day Afternoon (1pm-4pm)','Full-day (10am-4pm)'], selected: 'Full-day (10am-4pm)', include_blank: false, :input_html => { :class => 'lesson-slot-input'}, label: false, required:true %>
          </div>
        </div>
      <% end %>
      <%= f.input :status, as: :select, collection: ['Available','Unavailable','Scheduled'], selected:'Block this time slot', include_blank: false, label: false, required:true %>
  <% end %>

  <%= f.actions do %>
    <%= f.action  :submit, :label => "Create calendar block", :as => :input, :button_html => {class:'btn btn-primary'} %>
    <%= f.action  :submit, :label => "Create 10-week recurring block", :as => :input %>
  <% end %>
<% end %>

</div>
