<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ski_level.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @ski_level.value %>
</p>

<%= link_to 'Edit', edit_ski_level_path(@ski_level) %> |
<%= link_to 'Back', ski_levels_path %>
