<p id="notice"><%= notice %></p>

<h1>Sections</h1>

<table>
  <thead>
    <tr>
      <th>Age group</th>
      <th>Instructor</th>
      <th>Status</th>
      <th>Level</th>
      <th>Sport</th>
      <th>Capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.age_group %></td>
        <td><%= section.instructor_id %></td>
        <td><%= section.status %></td>
        <td><%= section.level %></td>
        <td><%= section.sport_id %></td>
        <td><%= section.capacity %></td>
        <td><%= link_to 'Show', section %></td>
        <td><%= link_to 'Edit', edit_section_path(section) %></td>
        <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Section', new_section_path %>
