<% title "Private Ski & Snowboard Lessons in Tahoe" %>
<% meta_tag :description, "Snow Schoolers is an online platform for private ski & snowboard lessons. Easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

    <section id="header-creative" class="top-section">
        <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg'); height: 100%; width: 100%;" data-href=""    
            </div>
        </ul>
<!--         <div id="homepage-background">
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="background photo" class="bg-photo" alt="" />
        </div>
 -->
 <!--         <ul id="slider">
            <li>
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="background photo" class="bg-photo" alt="" />
            </li>
        </ul>
 -->        
        <div class="header-content">
            <div class="header-content-inner">
                <!-- <h1 id="homeHeading" class="shadow-box-highlight">Private Lessons Made Perfect<br> -->
                <h1 id="homeHeading" class="shadow-box-highlight">Learn to Ski this Spring<br>
                <span class="smaller-text"></span>
                </h1>
                <h4>
                    <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book a Private Lesson</a>
                </h4>
                <!-- <p class="shadow-box-highlight hero-subtext">Say goodbye to the morning hassle. Book a certified instructor online, and we'll meet you on the mountain!</p>             -->
                <div class="shadow-box-highlight">
                    <p class="welcome-subheader"> Did you know there are <a href="resorts" class="green-link">16 ski areas</a> in Tahoe? <br class="hidden-unless-desktop"> Compare lesson prices, season pass prices, or check out our complete guide below for travel tips & more!
                    </p>
                    <span class="welome-ctas">
                    <a href="/learn-to-ski-packages" class="btn btn-secondary btn-lg page-scroll">Shop Lesson packages</a>
                    <!-- <a href="/tahoe-season-passes" class="btn btn-secondary btn-lg page-scroll">Shop Season Passes</a> -->
                    <a href="/beginners-guide-to-tahoe" class="btn btn-secondary btn-lg page-scroll">Complete Guide to Tahoe</a>
                    </span>
                </div>
                <hr class="subheader-divider">
                 <div class="shadow-box-highlight">
                    <p class="welcome-subheader"> Plan to buy a pass for next year? If you act now, you can <a href="homewood-season-pass" class="green-link">ski at Homewood for free</a> the rest of the spring!
                    </p>
                    <span class="welome-ctas">
                    <a href="tahoe-season-passes" class="btn btn-secondary btn-lg page-scroll">Shop Tahoe season passes</a>
                    </span>
                </div>
                <!-- <p class="shadow-box-highlight "> Check out our comprehensive guide for tips on how to get here, where to stay and ski, etc. <br> <br>
                <a href="/beginners-guide-to-tahoe" class="btn btn-primary btn-lg page-scroll">The Beginner's Guide to Tahoe</a>
                <a href="/mountain-collective" class="btn btn-primary btn-lg page-scroll">Get the Mountain Collective</a>
                </p> -->
                <!-- With <b> 1200+ acres of award-winning views</b>, Homewood is the perfect place to learn how to ski or snowboard this winter. -->
                <!-- <p class="shadow-box-highlight "> The silver lining to Homewood being <a href="http://www.rgj.com/story/news/2016/12/28/fire-closes-homewood-mountain-ski-resort-until-further-notice/95911312/" class="green-link">closed all-day today due to last night's fire:</a> </p> -->
                <!-- There'll be even more <b> untracked fresh powder </b> still to be found when we re-open tomorrow at 9am! -->
                <!-- <p class="shadow-box-highlight "> With <b> across 1200+ acres of award-winning views</b>, and over SEVEN FEET of fresh powder so far this week, Homewood is the perfect place to learn how to ski & ride <b> <a href='/powder' class="green-link">deep powder</a></b>. -->
                <!-- See our <a href="/launch_announcement" class="internal-link">recent launch announcement</a> for more info.-->
            </div>
            <!-- <div class="header-content-inner">
                    <h3 id="search-index-header" class="shadow-box-highlight">Easily compare lesson prices before you book.<br><br>
                    <span class="smaller-text"></span>
                    %= render partial: 'products/search' %>
                    </h3>
            </div> -->
        </div>
    </section>

    <section id="daily-update" class="bg-primary">
        <div class="row">
                <div class="col-lg-12 col-xs-12 text-center resort-photo-header">
                    <h1 class="section-heading white-text">Enjoy 50 shades of <a href="https://twitter.com/search?f=images&vertical=default&q=%23skihomewood&src=typd" class="green-link" target="_blank">#BigBlue</a> from the top of Homewood.</h1>
                </div>
                <div class="resort-photo-container">
                    <img src="https://s3.amazonaws.com/snowschoolers/calm-before-storm-feb13.JPG" alt="big-blue" class="resort-photo">
                    <!-- <img src="https://s3.amazonaws.com/snowschoolers/Jan24-hw-twitter.jpg" alt="homewood" class="resort-photo"> -->
                </div>
                <hr>
                <div class="col-lg-12 col-xs-12">
                    <!-- <h2 class="center">After 13 FEET of snow in February, March began with pleasantly mild temps and lots of sun, but winter returns soon, <a href="http://opensnow.com/dailysnow/tahoe" class="green-link" target="_blank">with another 2-3 FEET on the horizon for Sunday!</a></h2> -->
                    <h2 class="center weather-subheader">Check the current weather below, or read the latest from
                    <a href="http://opensnow.com/dailysnow/tahoe" class="green-link" target="_blank">OpenSnow.com</a> to get details on the longterm forecast.</h2>
                    <div class="weather-widget-container">
                        <a href="https://www.accuweather.com/en/us/homewood-ca/96141/weather-forecast/2143101" class="aw-widget-legal">
                        </a><div id="awtd1489602211676" class="aw-widget-36hour"  data-locationkey="2143101" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1489602211676" data-editlocation="false" data-lifestyle="ski"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
                    </div>
                </div>
                <div class="resort-photo-container">
                    <!-- <img src="https://s3.amazonaws.com/snowschoolers/weather-mar15.png" alt=" forecast" class="hp-photo-margin"> -->
                    <!-- <img src="https://s3.amazonaws.com/snowschoolers/weekend-weather-jan25.png" alt="homewood" class="resort-photo"> -->
                </div>
                <div class="twitter-embed">
                    <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">One of many epic runs this  weekend at <a href="https://twitter.com/skihomewood">@skihomewood</a>. Huge kudos to patrol &amp; mountain ops for keeping the mtn open!<a href="https://t.co/7o8qbr5cim">https://t.co/7o8qbr5cim</a></p>&mdash; Snow Schoolers (@snowschoolers) <a href="https://twitter.com/snowschoolers/status/823603270148968448">January 23, 2017</a></blockquote> -->
                    <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Best run of the year <a href="https://twitter.com/skihomewood">@skihomewood</a>. And still no lines! <a href="https://t.co/RVxLDYzDJY">pic.twitter.com/RVxLDYzDJY</a></p>&mdash; Snow Schoolers (@snowschoolers) <a href="https://twitter.com/snowschoolers/status/819997356758159360">January 13, 2017</a></blockquote> -->
                    <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">It&#39;s all about perspective, right? Well, this photo should give you an idea of how much snow we have. 13+ FEET in 11 days and counting... <a href="https://t.co/BpH0pU7coa">pic.twitter.com/BpH0pU7coa</a></p>&mdash; Squaw Alpine (@squawalpine) <a href="https://twitter.com/squawalpine/status/819314241370984448">January 11, 2017</a></blockquote> -->
                    <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">89 inches...since mental math is tough, that equals 7.4 feet! <a href="https://t.co/9virjedd4e">pic.twitter.com/9virjedd4e</a></p>&mdash; Snow Schoolers (@snowschoolers) <a href="https://twitter.com/snowschoolers/status/817231803798781952">January 6, 2017</a></blockquote> -->
                    <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">35&quot; at <a href="https://twitter.com/skihomewood">@skihomewood</a> and counting...open top to bottom with no wind holds. Plus lift tickets are only $56 this Sunday... <a href="https://t.co/ZI9woDpqH9">pic.twitter.com/ZI9woDpqH9</a></p>&mdash; Snow Schoolers (@snowschoolers) <a href="https://twitter.com/snowschoolers/status/816440495014428672">January 4, 2017</a></blockquote> -->
                    <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Tired of long holiday lift lines <a href="https://twitter.com/squawalpine">@squawalpine</a> and <a href="https://twitter.com/Northstar_CA">@Northstar_CA</a>? Come to <a href="https://twitter.com/skihomewood">@skihomewood</a> and make some lines like this tomorrow. <a href="https://t.co/pPzfKWonqh">pic.twitter.com/pPzfKWonqh</a></p>&mdash; Snow Schoolers (@snowschoolers) <a href="https://twitter.com/snowschoolers/status/813592635927470080">December 27, 2016</a></blockquote> -->
                    <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Loved the view today from both the top &amp; bottom of the mountain <a href="https://twitter.com/skihomewood">@skihomewood</a>. A day after the fire, and it was smiles in all directions. <a href="https://t.co/GkUIBdnsgH">pic.twitter.com/GkUIBdnsgH</a></p>&mdash; Snow Schoolers (@snowschoolers) <a href="https://twitter.com/snowschoolers/status/814657613535162368">December 30, 2016</a></blockquote> -->
                    <!-- <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The storm door is OPEN for Tahoe as we kick off 2017! <a href="https://t.co/ZVq38pZtJb">https://t.co/ZVq38pZtJb</a> via <a href="https://twitter.com/TahoeWeather">@TahoeWeather</a> <a href="https://t.co/p4zMo9LD0Q">pic.twitter.com/p4zMo9LD0Q</a></p>&mdash; OpenSnow (@findOpenSnow) <a href="https://twitter.com/findOpenSnow/status/815318020524539904">December 31, 2016</a></blockquote> -->
                    <!-- <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> -->
                </div>
        </div>
    </section>
    <section id="why-snowschoolers" class="pricing-section">
        <div class="container">
            <div class="row about-us">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">Why Snow Schoolers?</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2 id="why-snowschoolers-subheader" class="center navy-text">Booking a ski or snowboard lesson should be <b>fast, easy, </b>and <b>convenient</b>.
                </h2>
              <hr class="deposit-hr-navy">
              <div class="row">
                <p class="why-snowschoolers-text navy-text">
                As a team of lifelong skiers and technologists, we believe that <b> anyone </b> can learn how to ski or snowboard. Whether its your first time on snow, or whether you're an experienced skier looking to take your skills to the next level, we're here to ensure you have the <b>perfect lesson experience</b>.
                </p>
              <hr class="deposit-hr-navy">
              </div>
              <div style="position:relative;height:0;" class="youtube-embed-container">
                <iframe src="https://www.youtube.com/embed/CDfe0YY5zOE?rel=0?ecver=2" class="iframe-youtube" allowfullscreen></iframe>
            </div>
          </div>
      </div>
  </section>
  <section class="bg-primary">
    <div class="container">
            <h2 class="section-heading how-it-works where-we-teach-header white-text center">Where do we teach?</h2>
                <div id="more-info" class="row">
                    <img src="https://s3.amazonaws.com/snowschoolers/homewood-map.jpg" class="hp-photo-margin">
                    <p class="solid-box-highlight why-snowschoolers-text where-we-teach white-text">
                    <span class=""> All of our <b> ski and snowboard lessons take place  </b> at <a href="https://www.google.com/maps/place/Homewood+Mountain+Resort/@39.0855833,-120.1627278,17z/data=!3m1!4b1!4m5!3m4!1s0x80997fda4762005f:0x73b0c46aa0c1068d!8m2!3d39.0855833!4d-120.1605391" class="green-link">Homewood</a>, which is located on the west shore of Lake Tahoe, about 15 minutes from Tahoe city.</span>
                    <br>
                    <br>
                    A private lesson ensures you receive the <b> dedicated attention you deserve </b> from one of our <a href="/browse" class="green-link">certified instructors</a>. If private lessons are outside your budget, our team of dedicated customer success agents would be happy to talk you through how to book a <a href="http://cloudstore.skihomewood.com/product/5484/CA/Homewood-Adult-A.M.-First-Time-Learn-to-Ski-Lesson-Package.htm#12-2016" class="green-link"> group lesson through Homewood</a>. Whether you're booking a private or a group lesson, we are confident that Homewood is the best place to learn in Tahoe.
                    <br>
                    <br>
                    We're also confident that we have the best views in Lake Tahoe, as we were recently ranked <a href="http://unofficialnetworks.com/2016/12/the-10-ski-resorts-with-the-best-views" class="green-link"> one of the top 10 ski area views</a> <b> in the world</b>. With 300+ days of sunshine a year, Homewood more often than not looks like this:
                    </p>
                    <div class="insta-embed">
                    <!-- <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BPq9ZH9Ax2n/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#bigblue #powdays #januburied #tahoe #homewood</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Snow Schoolers (@snowschoolers) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-01-25T02:51:43+00:00">Jan 24, 2017 at 6:51pm PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script> -->
                    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BPq9ZH9Ax2n/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#bigblue #powdays #januburied #tahoe #homewood</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Snow Schoolers (@snowschoolers) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-01-25T02:51:43+00:00">Jan 24, 2017 at 6:51pm PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
                    </div>
                  <hr class="deposit-hr-navy">
                </div>
            </div>
</section>

<section id="private-group-comparison" class="bg-primary hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading white-text group-vs-private-header">Should you take a group or private lesson?</h1>
                </div>
            </div>
            <div class="row navy-bg">
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Group Lessons</b> = best price </span></h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/images/group-photo.jpg" class="comparison-photo" alt="group-lesson"/>
                    <h2 class="center white-text comparison-subheading"></h2>
                    <ul class="ski-expenses comparison-container">
                        <li>Beginner bundle (lift pass, rental, lesson): $99</li>
                        <li>Standard group lesson: 2.5 hours</li>
                        <li>Students per group: 8 students</li>
                        <li>Days needed to master the basics: 3 </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total red bold">Total: 3 days, $297 </h2>
                </div>
                <div class="hidden-unless-mobile col-md-12">
                    <hr>
                </div>
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Private lessons </b> = best value</h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/images/private-photo.png" class="comparison-photo" alt="private-lesson">
                    <h2 class="center white-text comparison-subheading"></h2>
                    <ul class="ski-expenses comparison-container">
                        <li>Half-day morning lesson: $449</li>
                        <li>Lift ticket & rental: $99 </li>
                        <li>4 hours of dedicated 1:1 instruction </li>
                        <li>Days needed to ski with confidence: 1 </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total green bold">Total: 1 day, $548 </h2>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <!-- <h4 class="">**All rate above reflect peak holiday rates; actual rates may be lower.</h4> -->
            </div>
        </div>
 </section>

    <%= render partial: 'prices' %>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12 text-center">
                    <h2 class="section-heading">Learning to ski or snowboard is hard. <br> Booking a private lesson shouldn't be.</h2>
                    <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book your lesson now</a>
                    <hr>
                    <h3 class="beta-sign-up-offer" id="subscribe">
                         Not ready to book today? <br> We are always expanding to new resorts, and occasionally giving away free schwag to lucky customers. Enter your email below to subscribe for updates.
                    </h3>
                    <hr class="light text-center">
                    <div class="col-md-12 beta_user-sign-up">
                        <%= form_for(@beta_user = BetaUser.new) do |f| %>
                          <% if @beta_user.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@beta_user.errors.count, "error") %> prohibited this beta_user from being saved:</h2>
                              <ul>
                              <% @beta_user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                          <div class="email-input">
                            <%= f.email_field :email, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Enter Email", required: true  %>
                          <%= f.submit "Subscribe for Updates", class:"btn btn-success btn-lg page-scroll" %>
                          <!-- <h3 class="offer-limitations">*First 100 sign ups receive 20% off their first lesson.</h3> -->
                          </div>
                        <% end %>
                    </div>
                    <!-- <h3 class="text-white">Instructors at Snow Schoolers loving sharing their passion for the mountain, and don't care to see your wallet drained. </h3> -->
                    <div class="col-md-8 col-md-offset-2">
                     <!-- <h3> Beyond convenience, our <b> dynamic matching algorithm</b> ensures an expert Snow Schoolers instructor is always available. Book in advance to lock in early season rates, with one-hour early-bird specials <b>starting at just $89</b>.
                     </h3> -->
                     <!-- <h3>
                     Booking last minute? Not a problem either. Prices only surge when it's necessary to get more instructors out on the hill.
                     </h3> -->
                     </div>
                </div>
            </div>
        </div>
    </section>

    <section id="how-it-works">
        <div class="container">
            <div class="row how-it-works">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">How SnowSchoolers Works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Request a Lesson</h3>
                        <img src="assets/book-lesson.png" alt="book-lesson" class="how-it-works-images">
                        <p class="navy-text">Get started by selecting your sport, mountain, date, and time of lesson.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Lesson Confirmation</h3>
                        <img src="assets/accept-request.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">When your reservation is booked, our automated system begins reaching out our instructors to determine the best available instructor. 80% of instructor assignments are confirmed within 30 minutes.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Learn from a Pro</h3>
                        <img src="assets/bearvalley-snowbomb.png" alt="snowboarder" class="how-it-works-images">
                        <p class="navy-text">Prior to your lesson, your instructor will contact you to confirm the meeting location and time. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Share the Love</h3>
                        <img src="assets/review-instructor.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">After your lesson, you'll receive feedback from your instructor about your progress, and we also ask that you rate the quality of your lesson experience.</p>
                       <!-- <p class="text-muted">Rate the quality of your Snow Schoolers experience, and have the option of making a donation to help sustain the program. 100% of donations go to our instructors.</p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
          <hr class="deposit-hr-navy">
        </div>
        <div class="container text-center">
            <div class="call-to-action">
                <h2 class="navy-text">Sign up for free and book your first lesson today!</h2>
                   <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </section>
<section class="bg-primary" id="blog">
    <div class="row blog-promo-container">
        <h2 class="center white-text">Hungry for more info?</h2>
        <h2 class="center">
            Check out the latest from our <a href="/blog/latest" class="green-link">blog!</a>
        </h2>
        <hr class="hr-white">
    </div>
    <!-- %= render 'blogs/latest' %> -->

    <div class="col-md-12">
        <h3 class="center">
            <a href="lessons/new" class="btn btn-primary btn-xl page-scroll powder-btn">Book a Lesson Today</a>
        </h3>
    </div>

</section>

 <section id="contact" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading white-text">Questions - Let us know!</h2>
                    <hr class="hr-white">
                    <p class="white-text">Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p class="white-text">(530)430-SNOW</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:info@snowschoolers.com" class="white-text" target="_blank">info@snowschoolers.com</a></p>
                </div>
            </div>
        </div>
    </section>

<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>