<% title "Private Ski & Snowboard Lessons in Tahoe" %>
<% meta_tag :description, "Snow Schoolers is an online platform for private ski & snowboard lessons. Easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

    <section id="header-creative" class="top-section">
        <ul id="slider" class="mc-cycle" style="display: block; height: 100%; width: 100%;">
            <div class="mc-image bg-photo" title="background photo" style="background-image: url('https://s3.amazonaws.com/snowschoolers/homewood-xmas-morning.jpg'); height: 100%; width: 100%;" data-href=""
            </div>
        </ul>
<!--         <div id="homepage-background">
                <img src="https://s3.amazonaws.com/snowschoolers/images/demo/slider/snow-less.jpg" alt="background photo" class="bg-photo" alt="" />
        </div>
 -->
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="shadow-box-highlight">We build software serving ski areas, instructors, and new skiers.<br>
                <span class="smaller-text"></span>
                </h1>
                <h4>
                    <!-- <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book a Private Lesson</a> -->
                </h4>
                <!-- <p class="shadow-box-highlight hero-subtext">Say goodbye to the morning hassle. Book a certified instructor online, and we'll meet you on the mountain!</p>             -->
                <div class="shadow-box-highlight">
                    <p class="welcome-subheader"> Did you know there are <a href="resorts" class="green-link">16 ski areas</a> in Tahoe? <br class="hidden-unless-desktop"> Compare lesson prices, season pass prices, or check out our complete guide below for travel tips & more!
                    </p>
                    <span class="welome-ctas">
                    <!-- <a href="/learn-to-ski-packages" class="btn btn-secondary btn-lg page-scroll">Lesson packages</a> -->
                    <!-- <a href="/tahoe-season-passes" class="btn btn-secondary btn-lg page-scroll">Shop Season Passes</a> -->
                    <a href="/beginners-guide-to-tahoe" class="btn btn-secondary btn-lg page-scroll">Complete Guide to Tahoe</a>
                    </span>
                    <a href="tahoe-season-passes" class="btn btn-secondary btn-lg page-scroll">Shop '17/18 Season Passes</a>
                </div>
                <hr class="subheader-divider">
            </div>
            <div class="header-content-inner">
                    <h3 id="search-index-header" class="shadow-box-highlight">Finding a great deal on lessons used to be hard. Now just search below to compare lesson prices across Tahoe.<br><br>
                    <span class="smaller-text"></span>
                    <%= render partial: 'products/search' %>
                    </h3>
            </div>
        </div>
    </section>

    <!-- <section id="daily-update" class="bg-primary">
        <div class="row">
                <div class="col-lg-12 col-xs-12 text-center resort-photo-header">
                    <h1 class="section-heading white-text">Enjoy 50 shades of <a href="https://twitter.com/search?f=images&vertical=default&q=%23skihomewood&src=typd" class="green-link" target="_blank">#BigBlue</a> from the top of Homewood.</h1>
                </div>
                <div class="resort-photo-container">
                    <img src="https://s3.amazonaws.com/snowschoolers/calm-before-storm-feb13.JPG" alt="big-blue" class="resort-photo">
                </div>
                <hr>
                <div class="col-lg-12 col-xs-12">
                    <h2 class="center weather-subheader">Check the current weather below, or read the latest from
                    <a href="http://opensnow.com/dailysnow/tahoe" class="green-link" target="_blank">OpenSnow.com</a> to get details on the longterm forecast.</h2>
                    <div class="weather-widget-container">
                        <a href="https://www.accuweather.com/en/us/homewood-ca/96141/weather-forecast/2143101" class="aw-widget-legal">
                        </a><div id="awtd1489602211676" class="aw-widget-36hour"  data-locationkey="2143101" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1489602211676" data-editlocation="false" data-lifestyle="ski"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
                    </div>
                </div>
                <div class="resort-photo-container">
                </div>
                <div class="twitter-embed">
                    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The storm door is OPEN for Tahoe as we kick off 2017! <a href="https://t.co/ZVq38pZtJb">https://t.co/ZVq38pZtJb</a> via <a href="https://twitter.com/TahoeWeather">@TahoeWeather</a> <a href="https://t.co/p4zMo9LD0Q">pic.twitter.com/p4zMo9LD0Q</a></p>&mdash; OpenSnow (@findOpenSnow) <a href="https://twitter.com/findOpenSnow/status/815318020524539904">December 31, 2016</a></blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
        </div>
    </section> -->

    <section id="why-snowschoolers" class="pricing-section">
        <div class="container">
            <div class="row about-us">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">Why Snow Schoolers?</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2 id="why-snowschoolers-subheader" class="center navy-text">Booking a ski or snowboard lesson should be <b>fast, easy, </b>and <b>convenient</b>.
                </h2>
              <div class="row">
              <hr class="deposit-hr-navy">
           <h2 class="navy-text"><b>For Ski Areas</b></h2>
              <p class="navy-text">We offer our seamless online booking software to ski area partners that are interested in providing their guests with a seamless booking experience. The annual subscription license includes instructor profiles, reviews, demand-based pricing, and robust administrative scheduling controls. <!-- Partners also have the option (but not requirement) of enabling lessons to be booked directly through <a href="www.snowschoolers.com" class="navy-link">SnowSchoolers.com</a>. --> To learn more or request a quote, click the button below.
              <div class="center">
                    <a href="mailto:info@snowschoolers.com" class="btn btn-primary">Get in Touch</a>
              </div>
              </p>
            <h2 class="navy-text"><b>For Ski and Snowboard Instructors</b></h2>
              <p class="navy-text">Teaching with Snow Schoolers is the ultimate professional experience for both new and seasoned instructors. Our online mobile scheduling system empowers instructors with the freedom and flexibility to manage their own schedule, all with just a few taps. Additionally, we take pride in the fact that our instructors are paid market-leading wages. We negotiate compensation plans with each of our partners, ensuring transparency and training opportunities for all certification levels. If you're interested in teaching at a Snow Schoolers partner resort next season, click the button below to apply today.
              <div class="center">
                <a href="/apply" class="btn btn-primary"> Apply as an Instructor </a>
              </div>
              </p>
            <h2 class="navy-text"><b>For Skiers and Riders</b></h2>
              <p class="navy-text">Say goodbye to large groups and long lines, and say hello to the lesson experience you deserve. We know that <b> anyone </b> can learn how to ski or snowboard, and we're willing to guarantee your success. Whether its your first time on snow, or whether you're an experienced skier looking to take your skills to the next level, we offer a 100% satisfaction gurantee to all students. At the end of your lesson, you'll receive a detailed progress card with personalized tips and drills to keep you learning all season long.
              </p>
              </div>
              <hr class="deposit-hr-navy">
              <div style="position:relative;height:0;" class="youtube-embed-container">
                <iframe src="https://www.youtube.com/embed/CDfe0YY5zOE?rel=0?ecver=2" class="iframe-youtube" allowfullscreen></iframe>
            </div>
          </div>
      </div>
  </section>
  <!-- <section class="bg-primary">
    <div class="container">
            <h2 class="section-heading how-it-works where-we-teach-header white-text center">Where do we teach?</h2>
                <div id="more-info" class="row">
                    <img src="https://s3.amazonaws.com/snowschoolers/homewood-map.jpg" class="hp-photo-margin">
                    <p class="solid-box-highlight why-snowschoolers-text where-we-teach white-text">
                    <span class=""> All of our <b> ski and snowboard lessons take place  </b> at <a href="https://www.google.com/maps/place/Homewood+Mountain+Resort/@39.0855833,-120.1627278,17z/data=!3m1!4b1!4m5!3m4!1s0x80997fda4762005f:0x73b0c46aa0c1068d!8m2!3d39.0855833!4d-120.1605391" class="green-link">Homewood</a>, which is located on the west shore of Lake Tahoe, about 15 minutes from Tahoe city.</span>
                    <br>
                    <br>
                    A private lesson ensures you receive the <b> dedicated attention you deserve </b> from one of our <a href="/browse" class="green-link">certified instructors</a>. If private lessons are outside your budget, our team of dedicated customer success agents would be happy to talk you through how to book a <a href="http://cloudstore.skihomewood.com/product/5484/CA/Homewood-Adult-A.M.-First-Time-Learn-to-Ski-Lesson-Package.htm#12-2016" class="green-link"> group lesson through Homewood</a>. Whether you're booking a private or a group lesson, we are confident that Homewood is the best place to learn in Tahoe.
                    <br>
                    <br>
                    We're also confident that we have the best views in Lake Tahoe, as we were recently ranked <a href="http://unofficialnetworks.com/2016/12/the-10-ski-resorts-with-the-best-views" class="green-link"> one of the top 10 ski area views</a> <b> in the world</b>. With 300+ days of sunshine a year, Homewood more often than not looks like this:
                    </p>
                    <div class="insta-embed">
                    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/BPq9ZH9Ax2n/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#bigblue #powdays #januburied #tahoe #homewood</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by Snow Schoolers (@snowschoolers) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2017-01-25T02:51:43+00:00">Jan 24, 2017 at 6:51pm PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
                    </div>
                  <hr class="deposit-hr-navy">
                </div>
            </div>
</section> -->

<!-- <section id="private-group-comparison" class="bg-primary hidden">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading white-text group-vs-private-header">Should you take a group or private lesson?</h1>
                </div>
            </div>
            <div class="row navy-bg">
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Group Lessons</b> = best price </span></h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/images/group-photo.jpg" class="comparison-photo" alt="group-lesson"/>
                    <h2 class="center white-text comparison-subheading"></h2>
                    <ul class="ski-expenses comparison-container">
                        <li>Beginner bundle (lift pass, rental, lesson): $99</li>
                        <li>Standard group lesson: 2.5 hours</li>
                        <li>Students per group: 8 students</li>
                        <li>Days needed to master the basics: 3 </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total red bold">Total: 3 days, $297 </h2>
                </div>
                <div class="hidden-unless-mobile col-md-12">
                    <hr>
                </div>
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Private lessons </b> = best value</h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/images/private-photo.png" class="comparison-photo" alt="private-lesson">
                    <h2 class="center white-text comparison-subheading"></h2>
                    <ul class="ski-expenses comparison-container">
                        <li>Half-day morning lesson: $449</li>
                        <li>Lift ticket & rental: $99 </li>
                        <li>4 hours of dedicated 1:1 instruction </li>
                        <li>Days needed to ski with confidence: 1 </li>
                    </ul>
                    <h2 class="white-transparent-bg expenses-total green bold">Total: 1 day, $548 </h2>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
 </section>

 -->
    <!-- %= render partial: 'prices' %> -->
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12 text-center">
                    <h2 class="section-heading">Learning to ski or snowboard is hard. <br> Booking a lesson online shouldn't be.</h2>
                    <!-- <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Book your lesson now</a> -->
                    <hr>
                    <h3 class="beta-sign-up-offer" id="subscribe">
                         <!-- Not ready to book today? <br> We are always expanding to new resorts, and occasionally giving away free schwag to lucky customers. Enter your email below to subscribe for updates. -->
                     Interested in learning more? Enter your email below and we'd love to be in touch. Or feel free to give us a call or send us an email and we will get back to you as soon as possible!

                    </h3>
                    <hr class="light text-center">
                    <div class="col-md-12 beta_user-sign-up">
                        <%= form_for(@beta_user = BetaUser.new) do |f| %>
                          <% if @beta_user.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@beta_user.errors.count, "error") %> prohibited this beta_user from being saved:</h2>
                              <ul>
                              <% @beta_user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                          <div class="email-input">
                            <%= f.email_field :email, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Enter Email", required: true  %>
                          <%= f.submit "Learn More", class:"btn btn-success btn-lg page-scroll" %>
                          <!-- <h3 class="offer-limitations">*First 100 sign ups receive 20% off their first lesson.</h3> -->
                            <!-- <h3 class="text-white">Instructors at Snow Schoolers loving sharing their passion for the mountain, and don't care to see your wallet drained. </h3> -->
                          </div>
                        <% end %>
                    </div>
                    <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2 text-center">
                            <i class="fa fa-phone fa-3x sr-contact"></i>
                            <p class="white-text">(530)430-SNOW</p>
                        </div>
                        <div class="col-lg-4 text-center">
                            <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                            <p><a href="mailto:info@snowschoolers.com" class="white-text" target="_blank">info@snowschoolers.com</a></p>
                        </div>
                    </div>
        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="how-it-works">
        <div class="container">
            <div class="row how-it-works">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">How SnowSchoolers Works</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Request a Lesson</h3>
                        <img src="assets/book-lesson.png" alt="book-lesson" class="how-it-works-images">
                        <p class="navy-text">Get started by selecting your sport, mountain, date, and time of lesson.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Lesson Confirmation</h3>
                        <img src="assets/accept-request.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">When your reservation is booked, our automated system begins reaching out our instructors to determine the best available instructor. 80% of instructor assignments are confirmed within 30 minutes.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Learn from a Pro</h3>
                        <img src="assets/bearvalley-snowbomb.png" alt="snowboarder" class="how-it-works-images">
                        <p class="navy-text">Prior to your lesson, your instructor will contact you to confirm the meeting location and time. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <h3 class="navy-text">Share the Love</h3>
                        <img src="assets/review-instructor.png" alt="accept-request" class="how-it-works-images">
                        <p class="navy-text">After your lesson, you'll receive feedback from your instructor about your progress, and we also ask that you rate the quality of your lesson experience.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
          <hr class="deposit-hr-navy">
        </div>
        <div class="container text-center">
            <div class="call-to-action">
                <h2 class="navy-text">Sign up for free and book your first lesson today!</h2>
                   <a href="/lessons/new" class="btn btn-primary btn-xl page-scroll">Get Started</a>
            </div>
        </div>
    </section>
<section class="bg-primary" id="blog">
    <div class="row blog-promo-container">
        <h2 class="center white-text">Hungry for more info?</h2>
        <h2 class="center">
            Check out the latest from our <a href="/blog/latest" class="green-link">blog!</a>
        </h2>
        <hr class="hr-white">
    </div>

    <div class="col-md-12">
        <h3 class="center">
            <a href="lessons/new" class="btn btn-primary btn-xl page-scroll powder-btn">Book a Lesson Today</a>
        </h3>
    </div>

</section> -->

<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>
