<% title "Learn to Ski Packages in Tahoe" %>
<% meta_tag :description, "This page compares all of the learn to ski and learn to snowboard packages offered at Lake Tahoe ski resorts. Compare prices, lift ticket and rental packages, and more." %>

    <section id="header-creative" class="top-section">
        <ul id="slider">
            <li>
                <img src="https://s3.amazonaws.com/snowschoolers/images/group-photo.jpg" alt="jackson-hole" class="bg-photo" alt="" />
            </li>
        </ul>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="powder-heading" class="powder-title shadow-box-highlight">Compare Learn to Ski Package in Tahoe<br>
                <span class="smaller-text"></span>
                </h1>
                <a href="#comingSoon" class="btn btn-primary btn-xl page-scroll">Get Started</a>
            <hr class="powder-spacer">
                <p class="shadow-box-highlight hero-subtext">Newsflash: <b>skiing is expensive</b>. Fortunately, most resorts in Tahoe also recognize that, and so have special offers available to first-time skiers and snowboarders.</p>
                <!-- <hr> -->
                <!-- <p class="shadow-box-highlight "> The silver lining to Homewood being <a href="http://www.rgj.com/story/news/2016/12/28/fire-closes-homewood-mountain-ski-resort-until-further-notice/95911312/" class="green-link">closed all-day today due to last night's fire:</a> </p> -->
                <!-- There'll be even more <b> untracked fresh powder </b> still to be found when we re-open tomorrow at 9am! -->
                <!-- With <b> across 1200+ acres of award-winning views</b>, and terrain for all levels including a top-to-bottom beginner run, Homewood is the perfect destination for the holidays. -->
                <!-- See our <a href="/launch_announcement" class="internal-link">recent launch announcement</a> for more info.-->
            </div>
            <hr>
            <!-- <div class="header-content-inner">
                    <h3 id="search-index-header" class="shadow-box-highlight">Easily compare lesson prices before you book.<br><br>
                    <span class="smaller-text"></span>
                    %= render partial: 'products/search' %>
                    </h3>
            </div> -->
        </div>
    </section>

    <section class="bg-primary" id="comingSoon">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12 text-center">
                    <div class="row powder-objection-handling-title">
                    <h2 class="section-heading powder-objections white-text">Package Comparison is coming soon!</h2>
                    </div>
                    <h3 class="beta-sign-up-offer powder-objection-handling text-left">
                        Unfortunately our package comparison tool is not quite ready for prime time. In the meantime, we can send you our PDF of Learn to Ski options in Tahoe, or if you'd like to be the first to know when the package comparison tool is ready, simply sign up with your email below.
                    </h3>
                    <h3 class="beta-sign-up-offer powder-objection-handling text-left">
                    Likewise, feel free to check out <a href="/homewood-learn-to-ski" class="green-link" target="_blank">Homewood's Learn to Ski or Ride deal</a>, which is is one of the best deals in Tahoe. For $59 non-holiday ($99 on holidays), you get a half-day group lesson, full rental equipment, and a beginner lift ticket.</h3>
                    <hr class="light text-center">
                    <div class="col-md-12 beta_user-sign-up">
                        <%= form_for(@beta_user = BetaUser.new) do |f| %>
                          <% if @beta_user.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@beta_user.errors.count, "error") %> prohibited this beta_user from being saved:</h2>
                              <ul>
                              <% @beta_user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                          <div class="email-input">
                            <%= f.email_field :email, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Enter Email", required: true  %>
                            <div class="hidden">
                                <%= f.text_field :user_type, :value => "package_promo"  %>
                            </div>
                          <%= f.submit "Sign Up", class:"btn btn-success btn-xl page-scroll" %>
                          <!-- <h3 class="offer-limitations">*First 100 sign ups receive 20% off their first lesson.</h3> -->
                          </div>
                        <% end %>
                    </div>
                    <!-- <h3 class="text-white"><b> The fine print:</b> -->
                    </h3>
                   <hr>
                </div>
            </div>
        </div>
    </section>
    

<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>
