<% title "Powder Ski & Snowboard Lessons in Tahoe" %>
<% meta_tag :description, "Snow Schoolers is an online platform for for booking private ski & snowboard lessons. Our instructors specialize in teaching powder skiing in the deep off-piste snow throughout Tahoe this season. Easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

    <section id="header-creative" class="top-section">
        <ul id="slider">
            <li>
                <img src="https://s3.amazonaws.com/snowschoolers/homewood-xmas-morning.jpg" alt="jackson-hole" class="bg-photo" alt="" />
            </li>
        </ul>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="powder-heading" class="powder-title shadow-box-highlight">Learn to Ski Powder with Snow Schoolers<br>
                <span class="smaller-text"></span>
                </h1>
                <a href="lessons/new" class="btn btn-primary btn-xl page-scroll">Get Started</a>
            <hr class="powder-spacer">
                <p class="shadow-box-highlight hero-subtext">Powder skiing <b> can be </b>the best natural high in the world, but only if you know how to ski it well. At Snow Schoolers, our certified instructors can teach you how to find and ride that perfect line.</p>
                <!-- <hr> -->
                <!-- <p class="shadow-box-highlight "> The silver lining to Homewood being <a href="http://www.rgj.com/story/news/2016/12/28/fire-closes-homewood-mountain-ski-resort-until-further-notice/95911312/" class="green-link">closed all-day today due to last night's fire:</a> </p> -->
                <!-- There'll be even more <b> untracked fresh powder </b> still to be found when we re-open tomorrow at 9am! -->
                <!-- With <b> across 1200+ acres of award-winning views</b>, and terrain for all levels including a top-to-bottom beginner run, Homewood is the perfect destination for the holidays. -->
                <!-- See our <a href="/launch_announcement" class="internal-link">recent launch announcement</a> for more info.-->
            </div>
            <hr>
            <!-- <div class="header-content-inner">
                    <h3 id="search-index-header" class="shadow-box-highlight">Easily compare lesson prices before you book.<br><br>
                    <span class="smaller-text"></span>
                    %= render partial: 'products/search' %>
                    </h3>
            </div> -->
        </div>
    </section>

    <section id="powder-comparison" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading white-text group-vs-private-header"></h1>
                </div>
            </div>
            <div class="row navy-bg">
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Your powder skiing today </b> </span></h2>
                    <img src="https://s3.amazonaws.com/snowschoolers/ski-crash.jpg" class="comparison-photo" alt="group-lesson"/>
                    <ul class="ski-expenses comparison-container">
                        <li>Do you still use traditional skinning carving skis?</li>
                        <li>Do you ever topple over your toe-side and face plant?</li>
                        <li>Have you spent hours digging for a lost ski?</li>
                    </ul>
                    <h2 class="center white-text comparison-subheading powder-h2">We've <b> all</b> been there.</h2>
                    <h2 class="white-transparent-bg expenses-total red bold">Effort vs. Reward <br> = not worth it </h2>
                </div>
                <div class="hidden-unless-mobile col-md-12">
                    <hr>
                </div>
                <div class="col-md-6">
                    <h2 class="padding-top center white-text comparison-header"><b> Your powder skiing tomorrow: </b></h2>
                    <img src="https://i.imgflip.com/1h1n5v.gif" class="comparison-photo" alt="powder-gif" title="made at imgflip.com"/>
                    <ul class="ski-expenses comparison-container">
                        <li>Powder skis rental: $50</li>
                        <li>Lift ticket: $64 </li>
                        <li>1hr Early Bird Powder Lesson: $89 </li>
                        <li>Total on your credit card: $209 </li>
                    </ul>
                    <h2 class="center white-text comparison-subheading powder-h2">You <b>could be</b> here.</h2>
                    <h2 class="white-transparent-bg expenses-total powder-success green bold">100+ likes on your next post: PRICELESS </h2>
                </div>
                <div class="col-md-12">
                    <h3 class="center">
                        <a href="lessons/new" class="btn btn-primary btn-xl page-scroll powder-btn">Book a Powder Lesson Today</a>
                    </h3>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
                <h4 class="clear-both disclaimer">*Any private lessons you can include up to 5 friends or family members for the same price, letting you get even more bang for your buck!</h4>
            </div>
        </div>
 </section>

    <section id="why-snowschoolers" class="pricing-section">
        <div class="container">
            <div class="row about-us">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading how-it-works navy-text">Why Snow Schoolers?</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h2 id="why-snowschoolers-subheader" class="center navy-text">Booking a ski or snowboard lesson should be <b>fast, easy, </b>and <b>convenient</b>.
                </h2>
              <hr class="deposit-hr-navy">
              <div class="row">
                <p class="solid-box-highlight why-snowschoolers-text white-text">
                As a team of lifelong skiers and technologists, we believe that <b>literally anyone </b> can learn how to ski. Whether it's your first time seeing snow, or whether you're an experienced skier looking to take your skills to the next level, we're here to ensure you have the <b>perfect lesson experience</b>.
                </p>
              </div>
              <hr class="deposit-hr-navy">
                <h2 class="section-heading how-it-works navy-text center">Where are lessons offered?</h2>
                <h3 class="center">
                    <!-- <a href="#hideLessons" class="btn btn-success" id="toggle-more-info">See current locations</a> -->
                </h3>
                <div id="more-info" class="row ">
                    <p class="solid-box-highlight why-snowschoolers-text white-text">
                    <span class=""> We are currently only accepting <b> private lessons reservations </b> at <a href="https://www.google.com/maps/place/Homewood+Mountain+Resort/@39.0855833,-120.1627278,17z/data=!3m1!4b1!4m5!3m4!1s0x80997fda4762005f:0x73b0c46aa0c1068d!8m2!3d39.0855833!4d-120.1605391" class="green-link">Homewood Mountain Resort</a>, which is located on the west shore of Lake Tahoe, 10 minutes from Tahoe city.</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary" id="emailCollect">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs12 text-center">
                    <div class="row powder-objection-handling-title">
                    <h2 class="section-heading powder-objections white-text">But, I've been skiing my whole life?!?!</h2>
                    </div>
                    <p class="solid-box-highlight text-left white-text powder-objection-handling">
                        So have we. Almost all of our instructors began skiing before they started 1st grade. Once you start teaching as a professional, you realize there's always more to learn. That's why all of our instructors also take advanced trainings at least once a year to hone their own trade. Whether you've been skiing twice or for two decades, we're certain that a private lesson will help you take you to a new level.
                    </p>
                    <h3 class="beta-sign-up-offer powder-objection-handling text-left">
                         Still skeptical? We get it. That's why every month we select a few lucky customers for a free early bird private lesson. You'll get the option to extend to a half-day lesson if you want, but no obligation, no strings attached. Enter your email below & we promise you won't regret it.
                    </h3>
                    <hr class="light text-center">
                    <div class="col-md-12 beta_user-sign-up">
                        <%= form_for(@beta_user = BetaUser.new) do |f| %>
                          <% if @beta_user.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(@beta_user.errors.count, "error") %> prohibited this beta_user from being saved:</h2>
                              <ul>
                              <% @beta_user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                              </ul>
                            </div>
                          <% end %>
                          <div class="email-input">
                            <%= f.email_field :email, autofocus: false, class:"black-text form-control beta-sign-up", placeholder:"Enter Email", required: true  %>
                            <div class="hidden">
                                <%= f.text_field :user_type, :value => "powder_promo"  %>
                            </div>
                          <%= f.submit "Enter to win a Free Lesson", class:"btn btn-success btn-xl page-scroll" %>
                          <!-- <h3 class="offer-limitations">*First 100 sign ups receive 20% off their first lesson.</h3> -->
                          </div>
                        <% end %>
                    </div>
                    <!-- <h3 class="text-white"><b> The fine print:</b> -->
                    </h3>
                   <hr>
                </div>
            </div>
        </div>
    </section>

    <%= render partial: 'prices' %>
    
    <div class="col-md-12">
        <h3 class="center">
            <a href="lessons/new" class="btn btn-primary btn-xl page-scroll powder-btn">Book a Powder Lesson Today</a>
        </h3>
    </div>

    <section id="contact" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading white-text">Questions - Let us know!</h2>
                    <hr class="primary">
                    <p class="white-text">Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p class="white-text">(530)430-SNOW</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:info@snowschoolers.com" class="white-text" target="_blank">info@snowschoolers.com</a></p>
                </div>
            </div>
        </div>
    </section>

<script src="//load.sumome.com/" data-sumo-site-id="a1fbda8d7365cdee08d4a5985659bb680581b2dd4281ce27f0f246ffaa655693" async="async"></script>
