<p id="notice"><%= notice %></p>

<h1 class="center">Scheduled Instructor Shifts</h1>

<h4 class="center">
  <%= link_to 'New Shift', new_shift_path, class: 'btn btn-success' %>
</h4>

<div class="calendar-container">
  <%= week_calendar(events: @shifts) do |date, shifts| %>
    <div class="day-within-week">
      <div class="daily-summary">
        <h2 class="">Total students: <%= Lesson.bookings_for_date(date) %></h2>
        <h2 class="">Scheduled: <%= shifts.count { |shift| shift.status == "Scheduled"} %></h2>
        <h2 class="">TBD: <%= shifts.count { |shift| shift.status == "TBD"} %></h2>
        <h2 class=" <%= Shift.capacity_status_color(date) %>">Est.Capacity: <%= number_to_percentage(Shift.capacity(date), precision:0) %></h2>
        <h2><a href="/schedule-filtered?utf8=✓&search_date=<%=Shift.parametized_date(date)%>" class="btn btn-default">Manage Splits</a></h2>
      </div>
    <% shifts.sort_by{| shift | shift.status }.to_a.each do | shift | %>
      <div class="<%= shift.shift_status_color %> instructor-shift">
        <%= link_to shift.instructor.name, edit_shift_path(shift) %> - <span class="smaller-text"><%= shift.status %></span>
      </div>
    <% end %>
    </div>
  <% end %>

</div>

<hr>

<table class="hidden">
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Name</th>
      <th>Status</th>
      <th>Instructor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.start_time.strftime("%m/%d") %></td>
        <td><%= shift.end_time.strftime("%m/%d") %></td>
        <td><%= shift.name %></td>
        <td><%= shift.status %></td>
        <td><%= shift.instructor.name %></td>
        <td><%= link_to 'Show', shift %></td>
        <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
        <td><%= link_to 'Destroy', shift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

