<% title 'Book a Private Ski or Snowboard Lesson' %>
<% meta_tag :description, "Easily book a private ski or snowboard lesson with our fleet of expert, certified instructors. Snow Schoolers is an online platform for private lessons. You can easily browse profiles & reviews, then book a private ski or snowboard lesson  with our fleet of expert, certified instructors. We collaborate closely with each of our ski area partners to ensure a consistent brand experience while maximizing the financial return of ski school operations to the mountain." %>

<div id="lesson-flow-background">
        <img src="https://s3.amazonaws.com/snowschoolers/images/private-photo.png" class="bg-photo" alt="" />
</div>

<div class="new-lesson-container">
  
<!--   <ul id="slider">
      <li>
          <img src="https://s3.amazonaws.com/snowschoolers/images/private-photo.png" class="bg-photo" alt="" />
      </li>
  </ul>
 -->
<!-- PreSeason Modal -->
  <% if notice.nil? && alert.nil? && @lesson.errors.count == 0 && session[:pre_season_location_request].nil? && Location.active_partners.count >= 1 %>
     <a id="preSeasonModalButton" class="hidden" href="#" data-toggle="modal" data-target="#preSeasonModal">New user? First register your Account</a>
  <% end %>
  <div class="modal" id="preSeasonModal" tabindex="1" role="dialog" aria-labelledby="preSeasonModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content preSeasonModal">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title navy-text center" id="myModalLabel">Bad news - our '16/17 season has ended.</h3>
          <h3 class="modal-title navy-text center" id="myModalLabel">Good news - we're growing!</h3>
        </div>
        <div class="modal-body">
            <h4 class="text-notice">We're planning to offer private lessons at new resorts next season, and we'd love to hear your input. Please enter your favorite resort(s) in the form below, or email us at <a href="mailto:info@snowschoolers.com" class="green-link">info@snowschoolers.com</a> if you would like more information. </h4>
            <hr class="deposit-hr-navy">
            <h3 class="center navy-text modal-prompt">
              Where do you want to take lessons <b>next winter</b>?
            </h3>
          <%= semantic_form_for(PreSeasonLocationRequest.new) do |ps_request| %>
              <div class="field center">
                <%= ps_request.input :name,  placeholder: "I would love to take a lesson at...", label:false %>
              </div>
              <br>
              <div class="actions center">
                <%= ps_request.submit "Submit", class: "btn btn-success" %>
              </div>
              <p class="modal-close-to-continue">
              </p>
            <% end %>
        </div>
      </div>
    </div>
  </div>
<!-- /PreSeason Modal -->

    
<%= semantic_form_for @lesson do |f| %>
  <div class="lesson-form-container">

      <div class="new-lesson-call-cta hidden-unless-desktop">
                    <h1 class="center">QUESTIONS?</h1>                    
                    <p class="white-text center">Call Us Today! 
                    <br>
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <br>
                    (530)430-SNOW</p>
      </div>      
      <div class="new-lesson-pricing-container">

        <%= render partial: "welcome/prices_simple" %>
      </div>

      <div class="new-lesson-caption">

        <div class="block">
          <h1 class="center mobile-book-cta">BOOK A LESSON TODAY</h1>
        </div>

        <div class="block">
          <p class="cta-subtext">Dedicated attention from a certified <strong>Snow Schoolers </strong> instructor is the best way to experience Lake Tahoe!</p>
        </div>

        <%= f.semantic_errors :instructor %>
        <div class="block inputs">
          <p>
            <div class="col-md-2">
              <%= f.input :activity, as: :select, collection: ['Ski', 'Snowboard','Telemark'], selected:@activity, include_blank: 'Lesson Type', label: false %>
            </div>

            <div class="col-md-2">
              <%= f.input :requested_location , as: :select, collection: Location.active_partners.sort_by { |location| location.name.downcase} , selected: Location.active_partners.first.id, include_blank: 'Location', label: false %>
              <!-- %= f.input :requested_location , as: :select, collection: [['North Tahoe',1],['South Lake Tahoe',2],['Southern CA',3],['Utah',4],['Colorado',5],['Wyoming',6],['Idaho',7],['New Mexico',8]], selected: @promo_location, include_blank: 'Location', label: false %> -->
            </div>

            <%= f.semantic_fields_for :lesson_time, @lesson_time do |lt_f| %>
              <div class="col-md-2">
                <%= lt_f.input :date, as: :string, input_html: { id: 'datepicker', value:@date }, placeholder: 'Date', label: false %>
                <span class="search-area-icon"></span>
              </div>

              <div class="time-slot-input">
                <!-- <%= lt_f.input :slot, as: :select, collection: ['Morning', 'Afternoon', 'Full Day'], include_blank: 'Time', label: false %> -->
                <%= lt_f.input :slot, as: :select, collection: ['Early Bird (9-10am)', 'Half-day Morning (10am-1pm)', 'Half-day Afternoon (1pm-4pm)', 'Full-day (10am-4pm)'], selected: @slot, include_blank: 'Time', label: false %>
              </div>
              <% if current_user.nil? %>
              <div class="guest-email-input">
                <%= f.input :guest_email, as: :string, placeholder: "your_email@example.com", label: false %>
              </div>
              <% end %>
            <% end %>
          </p>
        </div>

        <%= f.input :state, as: :hidden, input_html: { value: 'new' } %>
        <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
        <ul class="new-lesson-ctas-list">
          <li class="center">
            <%= f.actions do %>
              <!-- %= f.action :submit, as: :input, button_html: { class: 'btn btn-default btn-lg', value: 'Book Lesson' } %> -->
              <%= f.action :submit, :label => "Book Lesson", as: :input, button_html: { class: 'btn btn-default btn-lg' } %>
                <% if @instructor_requested.nil? %>
                <!-- <li>  OR </li> -->
                <!-- <li> <button id='browser-instructors-cta' href="/browse" value="Browse Instructors" class="btn btn-default btn-lg">Browse instructors</button></li> -->
                <% end %>
            <% end %>
          </li>
        </ul>


      </div>
          
      <% if @instructor_requested %>
        <div class="selected-instructor-container">
            <p>
              <div class="col-md-12">
                <h4 class="hidden-unless-desktop">Instructor Requested:</h4>
                  <h3 class="center">
                    <%= link_to Instructor.find(@instructor_requested).name, Instructor.find(@instructor_requested) %>
                  </h3>
                  <div class="hidden">
                    <%= f.input :instructor_id, as: :select, collection: Instructor.all.sort_by{ |instructor| instructor.name}, selected:@instructor_requested, include_blank: 'Instructor', label: false %>
                  </div>
                <div class="square-image">
                  <% if Instructor.find(@instructor_requested).avatar? %>
                    <%= image_tag Instructor.find(@instructor_requested).avatar.url(:large), alt:"avatar-img", class:"img-circle instructor-photo avatar-center" %>
                  <% end %>
                </div>
              </div>
            </p>
        </div>
      <% else %>
        <div class="selected-instructor-container hidden-unless-desktop">
            <p>
              <div class="col-md-12">
                <h4 class=""></h4>
                  <h3 class="center">
                   </h3>
                  <div class="hidden">
                  </div>
                <div class="square-image">
                </div>
              </div>
            </p>
        </div>
    <% end %>    

  </div>

<% end %>
<!-- /end lesson form -->  
<section class="hidden-unless-mobile mobile-call-cta">
      <div class="new-lesson-call-cta">
                    <h1 class="center">QUESTIONS?</h1>                    
                    <p class="white-text center">Call Us Today! 
                    <br>
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <br>
                    (530)430-SNOW</p>
      </div>        
</section>
  <div class="buffer hidden-unless-desktop"></div>

</div>

