<div class="container">
<!--
<h3> Current User ID: <%= current_user.id %> </h3>
<h3> Current User.email: <%= current_user.email %> </h3>
 -->

<% if current_user && current_user.email == "brian@snowschoolers.com" %>
<div class="admin-viewable">
  <a href='lessons/admin_index' class='btn btn-warning'>View Full Lesson Details</a>
</div>
<% end %>
<!-- SECTION 0 - AVAILABLE LESSON REQUESTS FOR INSTRUCTORS -->
<% if current_user && current_user.active_instructor? %>
<h3><a href="#hideLessons" class="btn btn-success" id="toggle-available-lessons">Show (hide) Lesson Requests</a></h3>
<div id="available-lessons" class="hidden">
<h1>Lessons Requests</h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th class="lessons-table-cells lesson-instructor">Instructor</th>
      <th class="lessons-table-cells lesson-type">Type</th>
      <!-- <th class="lessons-table-cells">Deposit?</th> -->
      <th class="lessons-table-cells lesson-student">Student</th>
      <!-- <th class="lessons-table-cells">Mountain</th> -->
      <th class="lessons-table-cells lesson-date">Date</th>
      <!-- <th class="lessons-table-cells">Status</th> -->
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
        <% if lesson.confirmable? %>
          <tr>
            <td class="lessons-table-cells lesson-instructor"><%= link_to "Review", lesson, class: "btn btn-default" %></td>
            <td class="lessons-table-cells lesson-type"><%= lesson.lesson_time.slot %></td>
            <!-- <td class="lessons-table-cells"><%= lesson.deposit_status %></td> -->
            <% if lesson.requester %>
              <td class="lessons-table-cells lesson-student">Requester: <%= lesson.requester.name %></td>
              <% else %>
              <td class="lessons-table-cells lesson-student">Requester: <%= lesson.guest_email %></td>
            <% end %>
            <!-- <td class="lessons-table-cells"><%= lesson.location.name %></td> -->
            <td class="lessons-table-cells lesson-date"><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <!-- <td class="lessons-table-cells"><%= lesson.state %></td> -->
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
</div>
<hr>
<% end %>

<!-- SECTION 1 - PREVIOUS LESSONS -->
<h3><a href="#hideLessons" class="btn btn-success" id="toggle-completed-lessons">Show (hide) Past Lessons</a></h3>
<div id="completed-lessons" class="hidden">
<h1>Previous Lessons</h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Instructor</th>
      <th>Type</th>
      <!-- <th>Deposit?</th> -->
      <th>Student</th>
      <!-- <th>Mountain</th> -->
      <th>Date</th>
      <th>Status</th>
    <% if current_user.user_type == "Snow Schoolers Employee" %>
      <th>Price</th>
      <th></th>
      <% else %>
      <th></th>
      <th></th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
        <% if lesson.completed? || lesson.confirmed? %>
          <tr>
            <% if lesson.instructor %>
            <td><%= image_tag(lesson.instructor.avatar.url(:thumb), alt:"avatar-img", class:"img-responsive img-thumbnail avatar-thumbnail") %></td>
            <td><%= lesson.instructor.name %></td>
            <% else %>
            <td></td>
            <td>TBD</td>
            <% end %>
            <td><%= link_to "#{lesson.lesson_time.slot}", lesson, class: "btn btn-default" %></td>
            <!-- <td><%= lesson.deposit_status %></td> -->
            <% if lesson.requester %>
              <td class="lessons-table-cells lesson-student">Requester: <%= lesson.requester.email %></td>
              <% else %>
              <td class="lessons-table-cells lesson-student">Requester: <%= lesson.guest_email %></td>
            <% end %>            <!-- <td><%= lesson.location.name %></td> -->
            <td><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <td><%= lesson.state %></td>
            <% if current_user.user_type == "Snow Schoolers Employee" %>
            <td><%= number_to_currency(lesson.visible_lesson_cost) %></td>
            <td><%= link_to "Send Instructor SMS", send_reminder_sms_to_instructor_path(lesson), class: "btn btn-default" %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <%end%>
    <% end %>
  </tbody>
</table>
</div>
<hr>
<!-- SECTION 2 - ACTIVE LESSONS -->
<% if @todays_lessons.count > 0 %>
<div id="todays-lessons" class="">
<h1>Today's Lessons </h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Instructor</th>
      <th>Type</th>
      <!-- <th>Deposit?</th> -->
      <th>Student</th>
      <!-- <th>Mountain</th> -->
      <th>Date</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todays_lessons.each do |lesson| %>
        <% if lesson.active_today? && lesson.confirmed? %>
          <tr>
            <% if lesson.instructor %>
            <td><%= image_tag(lesson.instructor.avatar.url(:thumb), alt:"avatar-img", class:"img-responsive img-thumbnail avatar-thumbnail") %></td>
            <td><%= lesson.instructor.name %></td>
            <% else %>
            <td></td>
            <td>TBD</td>
            <% end %>
            <td><%= link_to "#{lesson.lesson_time.slot}", lesson, class: "btn btn-default" %></td>
            <!-- <td><%= lesson.deposit_status %></td> -->
            <% if lesson.requester %>
              <td class="lessons-table-cells lesson-student">Requester: <%= lesson.requester.email %></td>
              <% else %>
              <td class="lessons-table-cells lesson-student">Requester: <%= lesson.guest_email %></td>
            <% end %>            <!-- <td><%= lesson.location.name %></td> -->
            <td><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <td><%= lesson.state %></td>
            <td></td>
            <td></td>
            <!-- <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td> -->
            <!-- <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <%end%>
    <% end %>
  </tbody>
</table>
</div>
<% end %>

<!-- SECTION 2 - ACTIVE LESSONS -->

<h3><a href="#hideLessons" class="btn btn-success" id="toggle-upcoming-lessons">Show (hide) upcoming Lessons</a></h3>
<div id="upcoming-lessons" class="">
<h1>Upcoming Lessons </h1>

<table class="instructors-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Instructor</th>
      <th>Type</th>
      <!-- <th>Deposit?</th> -->
      <th>Student</th>
      <!-- <th>Mountain</th> -->
      <th>Date</th>
      <th>Status</th>
    <% if current_user.user_type == "Snow Schoolers Employee" %>
      <th>Price</th>
      <th></th>
      <% else %>
      <th></th>
      <th></th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
        <% if lesson.upcoming? %>
          <tr>
            <% if lesson.instructor %>
            <td><%= image_tag(lesson.instructor.avatar.url(:thumb), alt:"avatar-img", class:"img-responsive img-thumbnail avatar-thumbnail") %></td>
            <td><%= lesson.instructor.name %></td>
            <% else %>
            <td></td>
            <td>TBD</td>
            <% end %>
            <td><%= link_to "#{lesson.product.name} - #{lesson.product.age_type}", lesson, class: "btn btn-default" %></td>
            <!-- <td><%= lesson.deposit_status %></td> -->
            <% if lesson.requester %>
              <td class="lessons-table-cells lesson-student">Requester: <%= lesson.requester.email %></td>
              <% else %>
              <td class="lessons-table-cells lesson-student">Requester: <%= lesson.guest_email %></td>
            <% end %>            <!-- <td><%= lesson.location.name %></td> -->
            <td><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <td><%= lesson.state %></td>
            <% if current_user.user_type == "Snow Schoolers Employee" %>
            <td><%= number_to_currency(lesson.visible_lesson_cost) %></td>
            <td><%= link_to "Send Instructor SMS", send_reminder_sms_to_instructor_path(lesson), class: "btn btn-default" %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
            <!-- <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td> -->
            <!-- <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <%end%>
    <% end %>
  </tbody>
</table>
</div>

</div>
