<div class="schedule-container">

<% if current_user && current_user.email == "brian@snowschoolers.com" %>
<!-- <div class="admin-viewable">
  <a href='lessons/admin_index' class='btn btn-warning'>View Full Lesson Details</a>
<p>
  Params are: <br>
  Date: <%= @date %> <br>
</p>
</div> -->
<% end %>

<%= render partial: 'schedule_search' %>

<div id="sections-view">
  <% if @ski_sections.nil? %>
    <h3 class="text-warning"> Please select a valid date to see results.</h3>
  <% else %>
  <div class="splits-container">
    <h1 class="center navy-text">
       <img src= "/assets/skier-icon.ico" class="icons"> Ski Lesson Splits
    </h1>
    <% @ski_sections.sort{|a,b,|a.id <=> b.id}.each do |section| %>      
      <%= render partial: "lessons/splits", locals: { section: section} %>
    <% end %>
    <%= link_to 'New Section', new_section_path, class: "btn btn-success" %>
  </div>
  <div class="splits-container">
    <h1 class="center navy-text">
       <img src= "/assets/snowboarder-icon.png" class="icons"> Snowboard Splits
    </h1>
    <% @sb_sections.sort{|a,b,|a.id <=> b.id}.each do |section| %>      
      <%= render partial: "lessons/splits", locals: { section: section} %>
    <% end %>
    <%= link_to 'New Section', new_section_path, class: "btn btn-success" %>
  </div>
  <% end %>
</div>
<!-- <div class="row">
  <hr class="deposit-hr-navy">
</div> -->


<div id="lessons-list" class="">
<h1 class="center navy-text"> Bookings </h1>

<table class="lesson-splits-table">
  <thead>
    <tr>
      <th>Date</th>
      <!-- <th>Deposit?</th> -->
      <th>Name</th>
      <th>Age</th>
      <!-- <th>Mountain</th> -->
      <th class="hidden">Section ID</th>
      <th>Level</th>
      <th></th>
      <th>Class Assignment</th>
      <th></th>
      <th>Product</th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
          <tr>
            <td><%= lesson.lesson_time.date.strftime("%m/%d") %></td>
            <td class="lessons-table-cells lesson-student"><%= lesson.requester.name.split(' ').first %></td>
            <td><%= lesson.students.first ? lesson.students.first.age_range : "N/A" %></td>
            <td class="hidden"><%= lesson.section_id %></td>
            <td><%= lesson.level %></td>
            <td>
              <% if lesson.activity == "Ski"%>
                <img src= "/assets/skier-icon.ico" class="icons-small">
              <% else %>
                <img src= "/assets/snowboarder-icon.png" class="icons-small">
              <% end %>
            </td>
            <%= form_tag(assign_section_path, :method => "put", class: "form-control") do %>  
            <% if lesson.section.nil? %>
              <td>
                <%= select_tag :section_id, options_from_collection_for_select(Section.available_section_splits(@date,@age_type).sort {|a,b| b.updated_at <=> a.updated_at}, :id, :instructor_name_for_section, selected:lesson.section_id), include_blank:"Select instructor" %>
                <div class="hidden">              
                  <%= text_field_tag :lesson_id, params[:lesson_id], value: lesson.id %>
                </div>
              </td>
              <td> <%= submit_tag "Assign", class:"btn btn-primary btn-xs" %></td>
            <% else %>
              <td>
                <%= select_tag :section_id, options_from_collection_for_select(Section.available_section_splits(@date,@age_type).sort {|a,b| a.id <=> b.id}, :id, :instructor_name_for_section, selected:lesson.section.id), include_blank:"Change instructor" %>
                <div class="hidden">              
                  <%= text_field_tag :lesson_id, params[:lesson_id], value: lesson.id %>
                </div>
              </td>
              <td> <%= submit_tag "Re-assign", class:"btn btn-warning btn-xs" %></td>
            <% end %>
            <% if lesson.product %>
              <td><%= link_to "#{lesson.product.product_type}", lesson, class: "" %></td>
            <% end %>

            <% end %>
            <!-- <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td> -->
            <!-- <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <%end%>
  </tbody>
</table>
</div>

</div>
