<div class="container">
<div id="primary-search-bar">
  <h2 class="center">We found <%= @products.count %> lesson products matching your search:</h2>
  <ul class="primary-search-form">
      <%= form_tag(search_results_path, :method => "get", id: "search-form") do %>
      <!-- %= semantic_form_for search_results_path, :html=> {:method => :get} do |f| %> -->
        <!-- %= f.inputs do %> -->
      <li class="li-inline-block">
        <!-- %= f.input :search, placeholder: "Where do you plan to ski...", input_html: {class:'navy-text form-control search-form'}, label:false %> -->
        <%= text_field_tag :search, params[:search], placeholder: "Where do you plan to ski...", class:'navy-text form-control search-form-serp' %>
      </li>
      <li class="li-inline-block">
        <!-- %= f.submit "Refine Search" , class:"btn btn-primary btn-xl page-scroll" %> -->
          <%= submit_tag "Search Again", class:"btn btn-primary btn-xl page-scroll" %>
      </li>
  </ul>
</div>
<div class="container">
<div>
  <h1 class="center">Want to compare prices on Lift Tickets or Season Passes?</h1>  
  <div class="center other-search-verticals">
    <a href="tahoe-season-passes" class="btn btn-primary btn-lg"> Shop Season Passes</a>
    <a href="lift-tickets" class="btn btn-primary btn-lg"> Shop Lift Tickets</a>
  </div>

</div>
<hr class="full-hr">

<div id="secondary-search-filters">
  <div id="sort-selector">
      <h3>
      Sort results by <br> <%= select_tag :sort_tag, options_for_select(["Recommended","Price Low to High","Price High to Low","Resort A-Z"], params[:sort_tag]), {class: 'navy-text form-control'} %>
      </h3>
  </div>
  <div id="lesson-slot-filter">
      <h3>Lesson Slot
      </h3>
      <%= select_tag :search_slot, options_for_select(["Any Slot","Morning","Afternoon","All Day"], params[:search_slot]), {class: 'navy-text form-control'} %>
  </div>
  <!-- <div id="lesson-length-filter">
    <h3>Lesson Length</h3>
    <ul class="length-list">
        <li>
        <%= check_box_tag :search_length_1, 1, params[:search_length_1] %>
          <%= label_tag(:search_length, "1 hour", {class:'navy-text'}) %>
        </li>
        <li>
        <%= check_box_tag :search_length_2, 2,  params[:search_length_2] %>
          <%= label_tag(:search_length, "2 hours", {class:'navy-text'}) %>
        </li>
        <li>
        <%= check_box_tag :search_length_3, 3, params[:search_length_3] %>
          <%= label_tag(:search_length, "3 hours", {class:'navy-text'}) %>
        </li>
        <li>
        <%= check_box_tag :search_length_6, 6, params[:search_length_6] %>
          <%= label_tag(:search_length, "6 hours", {class:'navy-text'}) %>
        </li>
        <li>
        <%= check_box_tag :search_length_7, 7, params[:search_length_7] %>
          <%= label_tag(:search_length, "7 hours", {class:'navy-text'}) %>
        </li>
    </ul>
  </div> -->
  <div id="online-booking-filter">
    <h3 class="filter-heading"> Book direct with Snow Schoolers?</h3>
    <ul class="length-list">
      <li>
          <%= check_box_tag :search_status, true, params[:search_status] %>
          <%= label_tag(:search_status, "Filter results", {class:'navy-text'}) %>
      </li>
    </ul>
  </div>
<div id="resort-filter">
    <h3>Compare Resorts</h3>
    <span class="text-danger"><em>(Recommended to first clear any text-search above.)</em></span>
    <ul class="">
        <%= collection_check_boxes :resort_filter, :location_ids, Location.all.reverse, :id, :name do |location_item| %>
        <li class="navy-text">
          <%= location_item.check_box %>
          <%= location_item.label %>
        </li>
        <% end %>
    </ul>
  </div>
  <!-- <div id="certification-filter">
    <h3>Instructor Certification</h3>
    <ul>
      <li>any</li>
      <li>Level 1</li>
      <li>Level 2</li>
      <li>Level 3</li>
    </ul>
  </div>
  <div id="reviews-filter">
    <h3>Reviews</h3>
    <ul>
      <li>5 stars</li>
      <li>4+ stars</li>
      <li>3+ stars</li>
      <li>2+ stars</li>
      <li>1+ stars</li>
    </ul>
  </div>
  <div id="locations-filter">
    <h3>Ski Areas</h3>
    <ul>
      <li>Homewood</li>
      <li>Mt. Rose</li>
      <li>Sugar Bowl</li>
      <li>Northstar</li>
    </ul>
  </div> -->
</div>
      <!-- % end %> -->
    <% end %>

<div id="search-results-section">

<div class="notice">
<% if @products.present? %>
<% else %>
  <p>There are no products containing the term(s) "<%= params[:search] %>".</p>
  <p>The full set of search parameters are: <%= @search_params %>.</p>
<% end %>
</div>

<% @products.each do |product| %>

  <%= render partial: "product_card", locals: {product: product} %>

<% end %>
</div>
