<h1>Listing locations</h1>

<hr class="deposit-hr-navy">
<%= form_tag import_locations_path, multipart: true do %>
<h2>
  <%= file_field_tag :file, class: 'form-control' %> <%= submit_tag "Import Locations from CSV", class: 'btn btn-default' %>
<% end %> | 
  <%= link_to "Export CSV", locations_path(format: "csv"), class: 'btn btn-primary' %> 
</h2>


<table class="instructors-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ski Area Name</th>
      <th>Logo</th>
      <th>Closing Date</th>
      <th>Region</th>
      <th>State</th>
      <th>Partner Status</th>
      <th>Calendar Status</th>
      <th>Vertical Feet</th>
      <th>Skiable acres</th>
      <th>Avg. Snowfall</th>
      <th>Number of Lifts</th>
      <th>Night Skiing?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= link_to location.name, edit_location_path(location) %></td>
        <td>
        <%= image_tag location.logo.url(:large), alt:"avatar-img", class:"location-logo-index avatar-center" %>
        </td>
        <td><%= location.closing_date %></td>
        <td><%= location.region %></td>
        <td><%= location.state %></td>
        <td><%= location.partner_status %></td>
        <td><%= location.calendar_status %></td>
        <td><%= location.vertical_feet %></td>
        <td><%= location.skiable_acres %></td>
        <td><%= location.average_snowfall %></td>
        <td><%= location.lift_count %></td>
        <td><%= location.night_skiing %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New location', new_location_path %>
