<p id="notice"><%= notice %></p>

<p>
  <strong>Ski Area name:</strong>
  <%= @location.name %>
</p>
<p>
  <strong>Partner Status:</strong>
  <%= @location.partner_status %>
</p>
<p>
  <strong>Calendar Status:</strong>
  <%= @location.calendar_status %>
</p>
<p>
  <strong>Region:</strong>
  <%= @location.region %>
</p>
<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>
<p>
  <strong>city:</strong>
  <%= @location.city %>
</p>
<p>
  <strong>state_abbreviation:</strong>
  <%= @location.state_abbreviation %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
