<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= action_cable_meta_tag %>
  <meta name='description'
      content='<%= yield_meta_tag(:description, 'Snow Schoolers is an online platform for private ski & snowboard lessons. We offer guests the ability to easily book a private ski or snowboard lesson online with our fleet of expert, certified instructors. We collaborate closely with our ski area partners to help them attract valuable new visitors.') %>' />
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/snowschoolers/SnowSchoolers-favicon.png">
  <meta name="google-site-verification" content="W1jQsfy52H6ubJcGDNxflQmKuSNdLuId5JvlfBaLBF4" />
  <% if ENV['HOST_DOMAIN'] == "demo.snowschoolers.com" %>
    <!-- Robots noindex tag in place on demo.snowschoolers.com site -->
  <meta name="robots" content="noindex">
  <% end %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <%= javascript_include_tag "bootstrap/modernizr.min.js" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

   <!-- GOOGLE ANALYTICS PRODUCTION TRACKING -  -->
  <% if ENV['HOST_DOMAIN'] == "www.snowschoolers.com" %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    // property ID for www.snowschoolers.com
    ga('create', 'UA-80641194-1', 'auto');
    ga('send', 'pageview');

  </script>


  <% elsif ENV['HOST_DOMAIN'] == "localhost:3000" %>
<!-- GA code for Local Host tracking & QA -->

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    // property ID for www.snowschoolers.com
    ga('create', 'UA-80641194-2', 'auto');
    ga('send', 'pageview');

  </script>


  <% end %> 

<!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1111997732228432');
    fbq('track', "PageView");</script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1111997732228432&ev=PageView&noscript=1"
    /></noscript>
<!-- End Facebook Pixel Code -->

</head>
<body>
<!-- <div id="masterContainer"> -->

<!-- ORIGINAL SNOW SCHOOLERS HEADER -->
<header id="header" class="header-homewood">
  <div class="container">
  <h2>
    <a href="www.skihomewood.com"><img src="https://s3.amazonaws.com/snowschoolers/homewood-blue.jpg" alt="homewood mountain resort" class="logo homewood-logo"/></a>

    <ul id="topOptions">
      <li>
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </li>
    </ul>
  </h2>

    <div class="navbar-collapse nav-main-collapse collapse pull-right">
      <nav class="nav-main">
        <ul class="nav nav-pills nav-main scroll-menu" id="topMain">         
              <li><a href="/index" target="_blank" class="sign-up-btn">SnowSchoolers.com</a></li>
              <li><a href="/lessons/new" target="_blank" class="sign-up-btn">Book a Lesson</a></li>
              <li><a href="/apply" target="_blank" class="sign-up-btn">Teach with Us</a></li>
            <% if current_user %>
                 <li><%= link_to current_user.email, user_path(current_user) %></li>
                <li> <%= link_to 'Logout', destroy_user_session_path %> </li>
              <% else %>
              <li><a href="#" class="sign-up-btn" data-toggle="modal" data-target="#registerModal">Register</a></li>
              <li><a href="#" class="sign-up-btn" data-toggle="modal" data-target="#loginModal">Log In</a></li>
          <% end %>
        </ul>
      </nav>
    </div>

  </div>
</header>
<!-- /HEADER -->

<!-- Registration Modal -->
<div class="modal" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register with Facebook, or with an email and password below.</h4>
      </div>
      <div class="modal-body">
          <h3 class="center">
            <%= link_to image_tag("fb-login.png", class:"fb-login-btn"), user_facebook_omniauth_authorize_path %>
          </h3>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="field center">
              <%= f.email_field :email, placeholder: "Email", autofocus: true %>
            </div>
            <div class="field center">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
            </div>
            <div class="field center">
              <%= f.password_field :password_confirmation,  placeholder: "confirm password", autocomplete: "off" %>
            </div>
            <br>
            <div class="actions center">
              <%= f.submit "Register", class: "btn btn-success"%>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Login Modal -->
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login with either Facebook, or your email and password.</h4>
      </div>
      <div class="modal-body">
          <h3 class="center">
            <%= link_to image_tag("fb-login.png", class:"fb-login-btn"), user_facebook_omniauth_authorize_path %>
          </h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field center">
              <%= f.email_field :email, placeholder: "Email", autofocus: true %>
            </div>
            <div class="field center">
              <%= f.password_field :password, placeholder: "password", autocomplete: "off" %>
            </div>
            <div class="actions center">
              <%= f.submit "Log in", class: "btn btn-success" %>
            <% end %>
            </div>
            <div class="center">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
              <% end -%>
              <a href="#" data-toggle="modal" data-target="#registerModal">New user? First register your Account</a>
            </div>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <% if notice %>
  <!--   <p class="alert alert-success alert-dismissable"><%= notice %>
    </p> -->
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
     <p> <%= notice %> </p>
    </div>
  <% end %>

  <% if alert %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
     <p> <%= alert %> <%= notice %> </p>
    </div>
  <% end %>

  <% if notice &&   flash[:complete_form] == 'TRUE' %>

      <!-- Google Code for Initiate Lesson Request (advance to /lessons/XX/complete) Conversion Page -->
          <script type="text/javascript">
          /* <![CDATA[ */
          var google_conversion_id = 880357341;
          var google_conversion_language = "en";
          var google_conversion_format = "3";
          var google_conversion_color = "ffffff";
          var google_conversion_label = "dMkNCLmj22wQ3d_kowM";
          var google_remarketing_only = false;
          /* ]]> */
          </script>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
          <div style="display:inline;">
          <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/880357341/?label=dMkNCLmj22wQ3d_kowM&amp;guid=ON&amp;script=0"/>
          </div>
          </noscript>

      <!-- Facebook Pixel Code -->
          <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
           fbq('init', '1111997732228432');
            fbq('track', 'InitiateCheckout');
          </script>
          <noscript>
           <img height="1" width="1"
          src="https://www.facebook.com/tr?id=1111997732228432&ev=PageView
          &noscript=1"/>
          </noscript>
      <!-- End Facebook Pixel Code -->

  <% end %>

  <% if notice && flash[:sumo_success] == 'TRUE' %>
      <!-- Google Code for Email capture Conversion Page -->
      <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 880357341;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "MH1ICP-Bpm4Q3d_kowM";
      var google_remarketing_only = false;
      /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
      <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/880357341/?label=MH1ICP-Bpm4Q3d_kowM&amp;guid=ON&amp;script=0"/>
      </div>
      </noscript>

  <% end %>

  <% if notice && flash[:conversion] == 'TRUE' %>

    <!-- <h3> Adwords conversion = %= flash[:conversion] %> </h3> -->
      <!-- Google Code for Lesson Bookings Conversion Page -->
      <script type="text/javascript">
      /* <![CDATA[ */
      var google_conversion_id = 880357341;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "bMVQCIvNxWwQ3d_kowM";
      var google_conversion_value = 30.00;
      var google_conversion_currency = "USD";
      var google_remarketing_only = false;
      /* ]]> */
      </script>
      <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
      </script>
      <noscript>
      <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/880357341/?value=30.00&amp;currency_code=USD&amp;label=bMVQCIvNxWwQ3d_kowM&amp;guid=ON&amp;script=0"/>
      </div>
      </noscript>


      <!-- Facebook Pixel Code -->
          <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window,document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
           fbq('init', '1111997732228432');
            fbq('track', 'Purchase', {value: '40.00', currency: 'USD'});
          </script>
          <noscript>
           <img height="1" width="1"
          src="https://www.facebook.com/tr?id=1111997732228432&ev=PageView
          &noscript=1"/>
          </noscript>
      <!-- End Facebook Pixel Code -->

  <% end %>
</div>

  <% if ENV['HOST_DOMAIN'] == "localhost:3000" %>
    <!-- <h1>GA trackingID = <%= GOOGLE_ANALYTICS_SETTINGS[:tracking_code] %> </h1> -->
    <!-- <h1>ENV variable is: <%=ENV['HOST_DOMAIN'] %> </h1> -->
    <!-- <a data-sumome-listbuilder-id="509875a4-c09e-47de-a66c-5c90e058000b" class="btn btn-primary btn-xl">Click Here to force Sumo popup</a> -->
  <% end %>


<%= yield %>

<!-- Avantlink Affiliate code -->
<script type="text/javascript" src="http://classic.avantlink.com/affiliate_app_confirm.php?mode=js&authResponse=06120309f10e5c8a15d74ad27a012f96dec561bb"></script>

<!-- FOOTER -->

<footer id="footer">
<% if controller.controller_name == "welcome" || controller.controller_name == "lessons" || controller.controller_name == "instructors" %>
<script type="text/javascript">CRISP_WEBSITE_ID = "0ae9bf60-bc66-4da4-b4d3-716ab557898c";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.im/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<% end %>
  <span id="slideTimer"><!-- fs-slideshow timer line --></span>

  <!-- right menu -->
  <h4 class="center">
  <ul>
    <li><a href="/beginners-guide-to-tahoe" target="_blank">BEGINNER'S GUIDE TO TAHOE</a></li>
    <li><a href="/resorts" target="_blank">WHERE TO SKI</a></li>
    <li><a href="/accommodations" target="_blank">PLACES TO STAY</a></li>
    <li><a href="/blog" target="_blank">OUR BLOG</a></li>
    <li><a href="/about_us" target="_blank">ABOUT US</a></li>
    <li><a href="/privacy" target="_blank">PRIVACY POLICY</a></li>
    <li><a href="mailto:info@snowschoolers.com" target="_blank">CONTACT</a></li>
    <li><a href="#" data-toggle="modal" data-target="#socialInlineModal">FOLLOW US</a></li>
  </ul>
  <span class="hidden-xs copyright-text pull-left">&copy; Snow Schoolers, Inc. 2017</span>
  </h4>
  <!-- /right menu -->

  <!-- copyright -->
  <!-- /copyright -->
</footer>
<!-- /FOOTER -->


<!-- FOLLOW US -->
<div class="modal fade bs-example-modal-lg" id="socialInlineModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header"><!-- modal header -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-hand-o-down"></i> Follow Us</h4>
      </div><!-- /modal header -->

      <!-- modal body -->
      <div class="modal-body">
        <p>Follow us online, join our conversations, engage with our teams around the world!</p>
        <div class="text-center">
          <a href="https://www.facebook.com/snowschoolers2016" class="socialbtn facebook"><i class="fa fa-facebook"></i>Facebook</a>
          <a href="https://twitter.com/snowschoolers" class="socialbtn twitter"><i class="fa fa-twitter"></i>Twitter</a>
          <a href="https://www.linkedin.com/company/snow-schoolers" class="socialbtn linkedin"><i class="fa fa-linkedin"></i>Linkedin</a>
          <a href="https://www.youtube.com/channel/UCHhUiwRmAQSrmzNUimeP7Uw" class="socialbtn youtube"><i class="fa fa-youtube"></i>Youtube</a>
        </div>
      </div>
      <!-- /modal body -->

    </div>
  </div>
</div>
<!-- /Closing Div for #MasterContainer US -->
<!-- </div> -->

<!-- Google Code for Remarketing Tag -->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 880357341;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/880357341/?guid=ON&amp;script=0"/>
  </div>
</noscript>

</body>
</html>
